/* tool belt */
	/* color */
		:root{
			--white-max:		#fff;		/*@panel-bg*/
			--white-bright:		#f5f5f5; 	/*@panel-default-heading-bg @panel-footer-bg*/
			--white-light:		#eee;		/*@body-bg*/
			--white-dark:		#ddd;		/*@panel-default-border @panel-inner-border use in font color with deep bg?(might change)*/

			--gray-light:		#888;
			--gray:				#777;
			--gray-dark:		#666;

			--black-bright:		#333;
			--black-light:		#222;
			--black-dark:		#111;
			--black-max:		#000;
			/* colored */
			--hot-dark:			#c44;		/*red?*/
			--hot-light:		#f43;
			--cold-dark:		#457;		/*blue?*/
			--cold-light:		#679;

			--banner-light:		#484b54;
			--banner-dark:		#3b3d45;
		}
	/* vertical middle */
		.v-outter-table{
			display: table !important;
		}
		.v-table-cell{
			display: table-cell !important;
			vertical-align: middle !important;
		}
	/* background color */
		.box-bg{
			background-color: var(--white-max);
		} 
		.title-bg{
			background-color: var(--white-bright);
		}

/* universal */
	*{
		padding: 0;
		margin: 0;
	}
	html, body{
		color: var(--gray-dark);
		background-color: var(--white-light);
		font-family: Arial, 'Microsoft YaHei', 'STHeiti';
	}
	p{
		font-size: 1em;
		margin: 0.5em 0;
		padding: 0.5em 0;
		line-height: 1.5em;
	}
	h1{
		color: var(--black-bright);
		font-size: 2em;
		margin: 20px 0;
	}
	h2{
		color: var(--black-bright);
		font-size: 1.4em;
	}
	ol{
		list-style-position: inside;
	}
	iframe{
		width: 100%;
		height: 100%;
		border: none;
		overflow: hidden;
	}
	/* a tag classes */
		a{
			color: var(--gray-dark);
			cursor: pointer;
		}
		a:hover{
			color: var(--black-bright);
		}
		a.title{/* emphasis the link */
			color: var(--cold-dark);
		}
		a.title:hover{
			color: var(--hot-dark);
		}

		a.to-hot:hover{
			color: var(--hot-light);
		}
		a.to-cold:hover{
			color: var(--cold-light);
		}
		a.from-hot{/*  */
			color: var(--hot-light);
		}
		a.from-hot:hover{
			color: var(--black-bright);
		}
		a.from-cold{/*  */
			color: var(--cold-light);
		}
		a.from-cold:hover{
			color: var(--black-bright);
		}
		a.animated{/* animated the link */
			transition-duration: 0.5s;
			text-decoration: none;
		}
		a.animated:hover{
			color: var(--hot-dark);
		}
	/* boot btn overrite */
		.btn {
			color: var(--black-bright);
			background-color: var(--white-max);
			border-color: var(--white-dark);
			text-decoration: none;
		}
		.btn:hover {
			color: var(--black-bright);
			background-color: var(--white-light);
			border-color: var(--gray-light);
		}

		.btn.btn-cold-to-hot {/* emphasis the link */
			background-color: var(--cold-dark);
			border-color: var(--white-dark);
			color: var(--white-light);
		}
		.btn.btn-cold-to-hot:hover{
			background-color: var(--hot-dark);
		}

		.btn.btn-cold-to-lighter {/* emphasis the link */
			background-color: var(--cold-dark);
			border-color: var(--white-dark);
			color: var(--white-light);
		}
		.btn.btn-cold-to-lighter:hover{
			background-color: var(--cold-light);
		}
		.btn.btn-hot-to-lighter {/* emphasis the link */
			background-color: var(--hot-dark);
			border-color: var(--white-dark);
			color: var(--white-light);
		}
		.btn.btn-hot-to-lighter:hover{
			background-color: var(--hot-light);
		}

		.btn.btn-to-hot:hover{
			background-color: var(--hot-light);
			color: var(--white-light);
		}
		.btn.btn-to-cold:hover{
			background-color: var(--cold-light);
			color: var(--white-light);
		}

		.btn.btn-from-hot{/* emphasis the link */
			background-color: var(--hot-light);
			color: var(--white-light);
		}
		.btn.btn-from-hot:hover{
			background-color: var(--white-max);
			color: var(--black-light);
		}

		.btn.btn-from-cold{/* emphasis the link */
			background-color: var(--cold-light);
			color: var(--white-light);
		}
		.btn.btn-from-cold:hover{
			background-color: var(--white-max);
			color: var(--black-light);
		}

		.btn.btn-animated{/* animated the link */
			transition-duration: 0.5s;
		}
		.btn.btn-animated:hover{
			background-color: var(--hot-dark);
		}
	/* bootstrap panel over write */
		.panel {
			margin: 10px 0;
			background-color: var(--white-max);
			border: 1px solid var(--white-dark);
			border-radius: 3px;
			-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
			box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
		}
		.panel-heading {
			padding: 10px 0px;
			background-color: var(--white-bright);
			background-image: none;
			border-bottom: 1px solid var(--white-dark);
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
		}
		.panel-title {
			line-height: 20px;
			font-size: 1.2em;
			font-weight: bolder;
		}
		.panel-body {
			padding: 10px;
		}
		.panel-footer {
			padding: 10px 0px;
			background-color: var(--white-bright);
			border-top: 1px solid var(--white-dark);
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		.panel-default {
			border-color: var(--white-dark);
		}
		.panel-default > .panel-heading {
			background-color: var(--white-bright);
			border-color: var(--white-dark);
		}
		/* sub panel */
		.panel .panel {
			margin: 5px 0;
			border-radius: 0px;
			border: none;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
			font-size: 0.8em;
		}
		.panel .panel .panel-heading {
			padding: 5px 0px 5px 5px;
			border: none;
			font-size: 1em;
			line-height: 15px;
		}
		.panel .panel .panel-heading .panel-title {
			font-size: 1.1em;
			line-height: 15px;
			font-weight: bolder;
		}
		.panel .panel .panel-body {
			padding: 5px;
			border: none;
		}
		.panel .panel .panel-footer {
			padding: 5px 0px;
			border: none;
		}
	/* bootstrap inner colunm adding new style */
		.row .row {
			margin-left: -5px;
			margin-right: -5px;
		}
		.row .row .col-xs-1, .row .row .col-sm-1, .row .row .col-md-1, .row .row .col-lg-1, .row .row .col-xs-2, .row .row .col-sm-2, .row .row .col-md-2, .row .row .col-lg-2, .row .row .col-xs-3, .row .row .col-sm-3, .row .row .col-md-3, .row .row .col-lg-3, .row .row .col-xs-4, .row .row .col-sm-4, .row .row .col-md-4, .row .row .col-lg-4, .row .row .col-xs-5, .row .row .col-sm-5, .row .row .col-md-5, .row .row .col-lg-5, .row .row .col-xs-6, .row .row .col-sm-6, .row .row .col-md-6, .row .row .col-lg-6, .row .row .col-xs-7, .row .row .col-sm-7, .row .row .col-md-7, .row .row .col-lg-7, .row .row .col-xs-8, .row .row .col-sm-8, .row .row .col-md-8, .row .row .col-lg-8, .row .row .col-xs-9, .row .row .col-sm-9, .row .row .col-md-9, .row .row .col-lg-9, .row .row .col-xs-10, .row .row .col-sm-10, .row .row .col-md-10, .row .row .col-lg-10, .row .row .col-xs-11, .row .row .col-sm-11, .row .row .col-md-11, .row .row .col-lg-11, .row .row .col-xs-12, .row .row .col-sm-12, .row .row .col-md-12, .row .row .col-lg-12 {
			padding-left: 5px;
			padding-right: 5px;
		}
	/* header decoration can only used in first level panel*/
		.hot-overline{
			margin-top: -10px;
			padding-top: 8px;
			border-top: 2px solid var(--hot-light);
			text-align: center;
		}
		.hot-underline{
			margin-bottom: -10px;
			padding-bottom: 8px;
			border-bottom: 2px solid var(--hot-light);
			text-align: center;
		}
		.cold-overline{
			margin-top: -10px;
			padding-top: 8px;
			border-top: 2px solid var(--cold-light);
			text-align: center;
		}
		.cold-underline{
			margin-bottom: -10px;
			padding-bottom: 8px;
			border-bottom: 2px solid var(--cold-light);
			text-align: center;
		}


/* banner */
	#home-banner .row{
		padding: 7px 0;
		line-height: 1.6em;
	}
	#home-banner .row span{
		font-size: 1.6em;
		vertical-align: middle;
		color: var(--hot-dark);
	}
	#home-banner a.fa{
		text-decoration: none;
		padding: 5px;
	}
	#home-banner a.fa-weibo:hover{
		color: #DB2016;
	}
	#home-banner a.fa-weixin:hover{
		color: #86C610;
	}
	#login-banner{
		height: 40px;
		line-height: 40px;
		background-color: var(--cold-dark);
		color: var(--white-light);
	}
/* header */
	#header, #header-menu{
		height: 70px;
	}
	#header #slogan{
		line-height: 70px;
	}
/* sites-links */
	#sites-links .row .row {
		padding: 25px 0;
	}
	#sites-links a{
		line-height: 2em;
	}
	#sites-links a:not(:first-child){
		padding: 3px;
	}
/* footer */
	#home-footer h3{/*footer-links header*/
		margin-top: 0px;
		font-size: 1.2em;
	}
	#home-footer span{/*footer-links phone number*/
		font-size: 1.4em;
	}
	#home-footer .row .row {
		padding: 25px 0;
	}
	.footer-light-bg{
		color: var(--white-light);
		background-color: var(--banner-light);
	}
	.footer-light-bg a{
		color: var(--white-light);
		font-size: 0.9em;
		line-height: 1.5em;
	}
	.footer-dark-bg{
		color: var(--white-dark);
		background-color: var(--banner-dark);
	}
	.footer-dark-bg a{
		color: var(--white-dark);
	}
/* content */