/* tool belt */
	/* color */
		:root{
			--white-max:		#fff;		/**/
			--white-bright:		#f8f8f8; 	/**/
			--white-light:		#eee;		/*@body-bg*/
			--white-dark:		#ddd;		/*use in font color with deep bg?(might change)*/

			--gray-light:		#888;
			--gray:				#777;
			--gray-dark:		#666;

			--black-bright:		#333;
			--black-light:		#222;
			--black-dark:		#111;
			--black-max:		#000;
			/* colored */
			--hot-dark:			#c44;		/*red?*/
			--hot-light:		#f43;
			--cold-dark:		#457;		/*blue?*/
			--cold-light:		#679;

			--banner-light:	#484b54;
			--banner-dark:	#3b3d45;
		}
	/* vertical middle */
		.v-outter-table{
			display: table !important;
		}
		.v-table-cell{
			display: table-cell !important;
			vertical-align: middle !important;
		}
	/* background color */
		.box-bg{
			background-color: var(--white-max);
		} 
		.title-bg{
			background-color: var(--white-bright);
		}
/* universal */
	*{
		padding: 0;
		margin: 0;
	}
	html, body{
		color: var(--gray-dark);
		background-color: var(--white-light);
		font-family: Arial, 'Microsoft YaHei', 'STHeiti';
	}
	p{
		font-size: 1em;
		margin: 0.5em 0;
		padding: 0.5em 0;
		line-height: 1.5em;
	}
	h1{
		color: var(--black-bright);
		font-size: 2em;
		margin: 20px 0;
	}
	h2{
		color: var(--black-bright);
		font-size: 1.4em;
	}
	ol{
		list-style-position: inside;
	}
	iframe{
		width: 100%;
		height: 100%;
		border: none;
		overflow: hidden;
	}
	/* a tag classes */
		a{
			color: var(--gray-dark);
			cursor: pointer;
		}
		a:hover{
			color: var(--black-bright);
		}
		a.title{/* emphasis the link */
			color: var(--cold-dark);
		}
		a.title:hover{
			color: var(--hot-dark);
		}

		a.to-hot:hover{
			color: var(--hot-light);
		}
		a.to-cold:hover{
			color: var(--cold-light);
		}
		a.from-hot{/* emphasis the link */
			color: var(--hot-light);
		}
		a.from-hot:hover{
			color: var(--black-bright);
		}
		a.from-cold{/* emphasis the link */
			color: var(--cold-light);
		}
		a.from-cold:hover{
			color: var(--black-bright);
		}
		a.animated{/* animated the link */
			transition-duration: 0.5s;
			text-decoration: none;
		}
		a.animated:hover{
			color: var(--hot-dark);
		}
/* banner */
	#home-banner .row{
		padding: 7px 0;
		line-height: 1.6em;
	}
	#home-banner .row span{
		font-size: 1.6em;
		vertical-align: middle;
		color: var(--hot-dark);
	}
	#home-banner a.fa{
		text-decoration: none;
		padding: 5px;
	}
	#home-banner a.fa-weibo:hover{
		color: #DB2016;
	}
	#home-banner a.fa-weixin:hover{
		color: #86C610;
	}
	#login-banner{
		height: 40px;
		line-height: 40px;
		background-color: var(--cold-dark);
		color: var(--white-light);
	}
/* header */
	#header, #header-menu{
		height: 70px;
	}
	#header #slogan{
		line-height: 70px;
	}
/* sites-links */
	#sites-links .row .row {
		padding: 25px 0;
	}
	#sites-links a{
		line-height: 2em;
	}
	#sites-links a:not(:first-child){
		padding: 3px;
	}
/* footer */
	#home-footer h3{/*footer-links header*/
		margin-top: 0px;
		font-size: 1.2em;
	}
	#home-footer span{/*footer-links phone number*/
		font-size: 1.4em;
	}
	#home-footer .row .row {
		padding: 25px 0;
	}
	.footer-light-bg{
		color: var(--white-light);
		background-color: var(--banner-light);
	}
	.footer-light-bg a{
		color: var(--white-light);
		font-size: 0.9em;
		line-height: 1.5em;
	}
	.footer-dark-bg{
		color: var(--white-dark);
		background-color: var(--banner-dark);
	}
	.footer-dark-bg a{
		color: var(--white-dark);
	}
/* content */
/* bootstrap over write */
	.panel {
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 4px;
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
		box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	}
	.panel-default {
		border-color: #ddd;
	}
.panel-default > .panel-heading {
background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
background-repeat: repeat-x;
}
.panel-default > .panel-heading {
color: #333;
background-color: #f5f5f5;
border-color: #ddd;
}
.panel-heading {
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}