<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="robots" content="index, follow">

	<!-- Bootstrap css -->
	<link rel="stylesheet" href="${basePath}/static/css/bootstrap.min.css">

	<!-- Bootstrap theme
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">-->

	<!-- fontawesome css -->
	<link rel="stylesheet" href="${basePath}/static/css/font-awesome.min.css">

	<!-- customized css -->
	<link rel="stylesheet" href="${basePath}/static/css/yr.css">

	<style type="text/css">
		#business-card {
			background-color: #76aedf !important;
			color: white !important;
		}

		.business-card {
			background-color: #76aedf !important;
			color: white !important;
			line-height: 30px;
		}

		.white-underline {
			/*margin-bottom: -10px;
			padding-bottom: 13px;
			border-bottom: 2px solid white;
			text-align: center;*/
			margin-bottom: -10px;
			padding: 0px 20px 10px 20px;
			border-bottom: 2px solid var(--white-max);
			text-align: center;
		}
		.tips-lineheight{
			white-space: nowrap;
			line-height: 34px;
		}
		/*.bg-adv{
			background-color: #f4f0e4;
			margin-bottom: -200px;
		}*/
		.breadcrumb-bg{
			background-color: var(--white-light);
			margin: 0px;
			padding: 0px;
		}
		.i-home{
			color: var(--cold-dark);
			margin-right: 10px;
			font-size: 16px;
		}
		.pro-title{
			font-size: 16px;
			font-weight: bold;
			color: #3b4a82;
		}
		.title-line{
			padding-bottom: 15px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 15px;
		}
		.detail-line{
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
		.detail{
			line-height: 25px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.bg-hot{
			background-color: var(--hot-light);
			color: var(--white-light);
			text-align: center;
		}
		.detail-margin-bottom{
			margin-bottom: 10px;
		}
		.message-style{
			line-height: 30px;
			margin-top: 30px;
		}
		.capital-left-line li{
			padding-bottom: 10px;
			margin-top: 10px;
			line-height: 30px;
			border-bottom:1px dashed #ccc;
			list-style-type:none;
		}
		.capital-left-line li:last-child{
			border-bottom: none;
			margin-bottom: -20px;

		}
		.pro-line li{
			list-style-type:none;
			height:50px;
			line-height: 50px;
			border-bottom: 1px dashed #dddddd;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;

		}
		.pro-line li:last-child{
			border-bottom: none;
			margin-bottom: -20px;

		}
	</style>
</head>
<body>
<div id="page">
	<!--顶部导航-->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="">
					<div class="">欢迎来到易融圈</div>
					<a href="#" class="">[登录]</a>
					<a href="#" class="important">[免费注册]</a>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-5 col-sm-6">
				<div class="pull-right">
					<a href="#" class="btn btn-danger btn-xs" target="_blank">
						资本机构免费入驻
					</a>
				</div>
				<div class="pull-right">
					<ul class="list-inline">
						<li class=""><a>我的易融圈</a></li>
						<li class=""><a>手机易融圈</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="wxImg" class="pull-right hidden"><img src=""></div>
	</div>
	<!--导航条-->
	<div id="header">
		<div class="container">
			<nav class="navbar navbar-default ">
				<div class="row">
					<div class="col-sm-6">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">
								<img class="img-responsive" src="img/logo.png" alt="易融圈">
							</a>
						</div>
						<div class="navbar-text">专业融资服务平台</div>
					</div>
					<div class="col-sm-6">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a title="首页">首页</a></li>
							<li><a title="找资金">找资金</a></li>
							<li><a title="选项目">选项目</a></li>
							<li><a title="活动">活动</a></li>
							<li><a title="投融服务">投融服务</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<!--路径-->
	<div class="container">
		<ol class="breadcrumb breadcrumb-bg">
			<i class="fa fa-home i-home"></i>
			<li><a href="#">首页</a></li>
			<li><a href="#">找资金</a></li>
			<li><a href="#">资金信息</a></li>
			<li class="active">上海某投资公司100万-1亿元寻国内新能源等项目股权投资</li>
		</ol>
	</div>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8">
					<!--资金信息-->
					<div class="panel">
						<div class="panel-body">
							<div class="row title-line ">
								<div class="col-sm-12">
									<h2><a href="javascript:void(0);" class="to-hot pro-title ">${model.title}</a></h2>
									<div class="pull-left">
										<time>${model.creat_time,dateFormat='yyyy-MM-dd'}</time>
										浏览数：418人
									</div>
									<div class="pull-right">
										<i class="fa fa-mobile-phone" aria-hidden="true"></i>
										<a href="#">免费发送至手机</a>
										<i class="fa fa-heart" aria-hidden="true"></i>
										@if(collect){
										已收藏
										@}
										@else{
										<a href="javascript:void(0)" id="collect">收藏</a>
										@}
										<i class="fa fa-warning"></i>
										<a href="#">举报</a>
										<i class="fa fa-share-alt-square"></i>
										<a href="#">分享</a>
									</div>
								</div>
							</div>
							<div class="row title-line">
								<div class="col-sm-6 detail">
									<div>资金主体:<a href="#">${model.body}</a></div>
									<div>投资行业:<a href="#"> ${model.industry}</a></div>
									<div class="amount">投资金额:<span>${model.down_amount}</span>-<span>${model.up_amount}</span></div>
								</div>
								<div class="col-sm-6 detail">
									<div>所在地区:${model.province_id+model.city_id+model.area_id}</div>
									<div>投资地区:${model.target_area}</div>
									<div>前期费用:${model.pre_cost}</div>
								</div>
							</div>
							<div>
								<div class="row">
									<div class="col-auto detail-margin-bottom">
										<div class="bg-hot">
											${model.capital_type}
										</div>
									</div>
								</div>
								@ var fundtype = model.capital_type;
								@ if(fundtype==("股权投资")){
								<div class="row equity-investment detail-line">
									<div class="col-sm-6 detail">
										<div>股权投资类型:${model.equity_type}</div>
										<div>投资期限:${model.equity_unit}</div>
									</div>
									<div class="col-sm-6 detail">
										<div>投资阶段:${model.equity_phase}</div>
										<div>参股比例:${model.equity_ratio}</div>
									</div>
								</div>
								@ }
								@ if(fundtype==("债权投资")){
								<div class="row debt-investments  detail-line">
									<div class="col-sm-6 detail">
										<div>最低回报要求:${model.creditors_back}%/年</div>
										<div>风控要求:${model.creditors_risk}</div>
										<div>抵押物品折扣率:${model.creditors_pawn_discount}折</div>
									</div>
									<div class="col-sm-6 detail">
										<div>投资期限:${model.equity_unit}</div>
										<div>抵押物品类型:${model.creditors_pawn}</div>
									</div>
								</div>
								@ }
								@ if(fundtype==("金融投资")){
								<div class="row financial-investment  detail-line">
									<div class="col-sm-6 detail">
										<div>风险偏好:1${model.finance_risk}</div>
									</div>
									<div class="col-sm-6 detail">
										<div>产品偏好:${model.finance_product}</div>
									</div>
								</div>
								@ }
							</div>
							<div class="row bg-adv">
								<div class="col-sm-3">
									<img class="img-responsive" alt="投递项目">
								</div>
								<div class="col-sm-6">
									<h4>昨日项目方投递项目共计2584次</h4>
									<div>立即投递项目，将信息直接发送到投资人手机，融资更主动！</div>
								</div>
								<div class="col-sm-3 text-right">
									<a class="btn btn-hot-to-lighter" role="button" data-toggle="modal"
									   data-target="#capitalModal">投递项目</a>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div></div>
					</div>
					<!--投资要求-->
					<div class="panel">
						<div class="panel-heading">
							<div class="row">
								<div class="col-auto">
									<div class="hot-underline">投资要求概述</div>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<p>${model.capital_requirements}</p>
						</div>
					</div>
					<!--标签-->
					<div class="panel">
						<div class="panel-body">
							<div>标签：${model.tag}<!--<a href="">北京</a>，<a href="">企业资金</a>，<a href="">房地产</a>--></div>
						</div>
					</div>
					<!--留言-->
					<div class="panel">
						<div class="panel-body">
							<!--留言框-->
							<div class="row">
								<form>
									<div class="panel panel-default">
										<div class="panel-heading">
											<span>用户留言</span>
											<div class="pull-right"><span>还可以输入x字</span></div>
										</div>
										<div class="panel-body">
											<textarea class="form-control"
											          placeholder="提示：严禁发布含有联系方式和广告性质的内容，违者一律删除！"></textarea>
										</div>
										<div class="panel-footer col-sm-12">
											<div class="form-group">
												<div class="col-md-2 col-sm-6">
													<input type="text" placeholder="姓名" class="form-control">
												</div>
												<div class="col-md-2 col-sm-6">
													<input type="text" placeholder="手机号码" class="form-control">
												</div>
												<div class="col-md-4 col-sm-12">
													<div class="tips-lineheight">输入姓名与电话留言后方便对方与您联系!</div>
												</div>
												<div class="col-md-2 col-sm-6">
													<select class="form-control">
														<option value="公开" selected="selected">公开</option>
														<option value="仅对方可见">仅对方可见</option>
														<option value="会员可见">会员可见</option>
													</select>
												</div>
												<div class="col-md-2 col-sm-6">
													<a href="javascript:void(0);">
														<button type="button" class="btn btn-hot-to-lighter pull-right">
															发布留言
														</button>
													</a>
												</div>
											</div>
										</div>
									</div>

								</form>
							</div>
							<!--留言列表-->
							<div>
								<ul class="list-unstyled">
									<li>
										<div class="row message-style">
											<div class=" col-sm-2">
												<img class="img-responsive" alt="头像">
											</div>
											<div class=" col-sm-10">
												<div class="pull-right">2016-07-25 15:19:53</div>
												<div class="pull-left">
													<a href="#" target="_blank">金先生</a>
													黑龙江省牡丹江市某建筑建材公司&nbsp;
												</div>
												<br>
												<div>所在地区：黑龙江省牡丹江市 | 意向资金：个人资金 企业资金 天使投资 VC投资 PE投资</div>
												<p>
													“**家居建材博览中心”，位于黑龙江省牡丹江市，占地面积18.37公顷，
													包含住宅、居然之家、建材博览中心、红星美凯龙，东邻万达广场，北邻客运站目前，
													已签订《国有建设用地使用出让合同》，取得《建设用地规划许可证》，项目以红星美凯龙
													、居然之家为驱动，将建成黑龙江省东部地区家居、建材、装饰材料、生活、办公为一体的综合商业区。
													公司旗下拥有2家全市规模最大的家居建材、陶瓷装饰材料市场，目前，公司净资产保守评估25亿元，年租金收入1
													.45亿元，现已借款5.8亿元。项目计划总投资约18.90亿元人民币，需对外融资6亿元，作为项目建设资金，年利率16%以下。
													可用剩余房产、土地、股权、资产租赁收益权进行抵押借</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!--分页-->
							<div>
								<nav class="pull-right">
									<ul class="pagination">
										<li>
											<a href="#" aria-label="First">
												<span aria-hidden="true">首页</span>
											</a>
										</li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li>
											<a href="#" aria-label="Next">
												<span aria-hidden="true">下一页</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<!--会员名片-->
					<div class="panel panel-default">
						<div class="panel-heading" id="business-card">
							<div class="row ">
								<div class="col-auto">
									<div class=" white-underline">会员名片</div>
								</div>
								<div class="col-auto pull-right">
									<!-- <div class="pull-right panel-title"> -->
									<button type="button" class="btn btn-cold-to-lighter btn-xs">
										<i class="fa fa-exchange"></i>交换名片
									</button>
									<!-- </div> -->
								</div>
							</div>
						</div>
						<div class="panel-body business-card">
							<div><img class="img-circle img-responsive center-block" alt="头像"></div>
							<div class="text-center">王先生</div>
							<div>所在公司：北京市某公司</div>
							<div>职位：总经理</div>
							<div>所在地区：北京市朝阳区</div>
							<div>关注行业：房地产</div>
							<button class="btn btn-hot-to-lighter btn-block">查看联系方式</button>
							<button class="btn btn-from-cold btn-block">进入展厅</button>
						</div>
					</div>
					<!--相似的资金-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-auto">
									<div class="hot-underline">相似的资金</div>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<ul class="capital-left-line">
								<li>
									<a href="#">安徽某企业资金1000万元寻本省节能环保等优质项目合作</a>
									<div>投资金额：1000万</div>
									<div>债券投资|安徽省</div>
								</li>
								<li>
									<a href="#">安徽某企业资金1000万元寻本省节能环保等优质项目合作</a>
									<div>投资金额：1000万</div>
									<div>债券投资|安徽省</div>
								</li>
							</ul>
						</div>
					</div>
					<!--最近浏览的资金-->
					<div class="panel">
						<div class="panel-heading">
							<div class="row">
								<div class="col-auto">
									<div class="hot-underline">最近浏览的资金</div>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled pro-line">
								<li><a>上海某投资公司100万-1亿元寻国内新能源等项目股权投资</a></li>
								<li><a>上海某投资公司100万-1亿元寻国内新能源等项目股权投资</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--投递项目模态框-->
<div class="modal fade" id="capitalModal" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">投递项目</h4>
			</div>
			<div class="modal-body">
				<img src="img/drop_in_box_step.png" class="center-block">
				<form class="form-horizontal">
					<div name="Contacts" class="form-group">
						<label for="inputContacts" class="col-sm-3 control-label"><span
								class="text-danger">*</span>联系人:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="inputContacts">
						</div>
					</div>
					<div name="Phone" class="form-group">
						<label for="inputPhone" class="control-label col-sm-3"><span
								class="text-danger">*</span>手机号码:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="inputPhone">
						</div>
					</div>
					<div name="ProjectTittle" class="form-group">
						<label for="inputProjectTittle" class="control-label col-sm-3"><span
								class="text-danger">*</span>项目标题:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="inputProjectTittle">
						</div>
					</div>
					<div name="ProjectDescription" class="form-group">
						<label for="inputProjectDescription" class="control-label col-sm-3"><span
								class="text-danger">*</span>项目描述:</label>
						<div class="col-sm-6">
							<textarea class="form-control" id="inputProjectDescription" maxlength="500"
							          data-rule="required|minlength[20]|maxlength[500]"></textarea>
						</div>
					</div>
					<div name="ProjectFile" class="form-group">
						<label for="inputProjectTittle" class="control-label col-sm-3">商业计划书:</label>
						<div class="col-sm-3">
							<input type="file" class="form-control" id="inputProjectFile">
						</div>
						<div class="col-sm-4">
							<span class="help-block">为了提升资金方的回复率，请上传您的商业计划书</span>
						</div>
					</div>
					<div name="verificationPicture" class="form-group">
						<label for="verificationCode" class="control-label col-sm-3"><span class="text-danger">*</span>图片验证:</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="verificationCode" placeholder="输入计算结果">
						</div>
						<img alt="验证码">
					</div>
					<div name="verificationPhone" class="form-group">
						<label for="verificationPhone" class="control-label col-sm-3"><span
								class="text-danger">*</span>手机验证</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="verificationPhone">
						</div>
						<button type="button" class="btn btn-sm btn-default">发送验证码</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger center-block">投递</button>
			</div>
		</div>
	</div>
</div>
<!-- jQuery -->
<script src="${basePath}/static/js/jquery-1.11.3.js"></script>

<!-- Bootstrap JavaScript -->
<script src="${basePath}/static/js/bootstrap.js"></script>

<!-- custom js
<script src="js/请输入.js"></script>-->

<script type="text/javascript">
	$(".amount span").each(function () {
		var amount = $(this).text();
		(amount>100000000)?amount=amount/100000000+"亿":amount = amount/10000+"万";
		$(this).text(amount);
	})
	$('#collect').click(function () {
		$.ajax({
			type:'POST',
			url:"${basePath}/collection/save?inf_categories=capital&id_capital_project=${model.pk_capital}",
			dataType:'json',
			success:function (data) {
				if(data.code==0){
					alert('收藏成功');
					$('#collect').after("<span>已收藏</span>").remove();
				}
				else {
					alert(data.message);
				}
			}
		})
	})
</script>
</body>
</html>