<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">

	@include("/common/_cssasset.html") {}


	<style type="text/css">
		\@media (min-width: 768px) {
		.normally {
			width: 90%;
		}

		.normally.active {
			width: 90%;
		}
		}

		\@media (min-width: 992px) {
		.normally {
			width: 92%;
		}

		.normally.active {
			width: 92%;
		}
		}

		\@media (min-width: 1200px) {
		.normally {
			width: 93%;
		}

		.normally.active {
			width: 93%;
		}
		}

		.arw {
			margin-top: 10px;
			margin-bottom: 70px;
		}

		.red {
			color: #e93100;
		}

		.i-blue {
			color: #2b9df6;
			font-size: 18px;
			margin-right: 5px;
		}

		.pd10-bg {
			padding: 0px 10px;
			background-color: white;
			border: 1px solid #ddd;

		}

		.ma-bottom {
			margin-bottom: 30px;
		}

		.control-label {
			padding-top: 0 !important;
		}
		.tips {
			margin-bottom: 0;
			padding-top: 7px;
		}
	</style>
</head>
<body>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div>投诉流程：</div>
			<div class="row arw">
				<div class="col-sm-3">
					<div class="pull-left  normally">
						用户提交投诉
					</div>
				</div>
				<div class="col-sm-3">
					<div class="pull-left active normally ">
						提交投诉表单
					</div>
				</div>
				<div class="col-sm-3">
					<div class="pull-left normally">
						投融界受理审核
					</div>
				</div>
				<div class="col-sm-3">
					<div class="pull-left normally">
						公布处罚结果
					</div>
				</div>
			</div>
			<form class="form-horizontal"  id="complaint" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label class="control-label col-sm-3 col-md-2 col-md-offset-1"><span class="red">*</span>我要投诉的信息：</label>
					<div class="col-sm-9">${title}</div>
					<input class="hidden" name="complain.by_complain" value="${by_complain}">
					<input class="hidden" name="complain.channel_type" value="${channel_type}">
					<input class="hidden" name="complain.channel_id" value="${channel_id}">
					<input class="hidden" name="complain.complain_title" value="${title}">
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2 col-sm-offset-1"><span class="red">*</span>投诉理由：</label>
					<div class="col-sm-5">
						<textarea class="form-control" name="complain.complain_reason"></textarea>
					</div>
					<label id="tips-reason" class="col-sm-3 tips ">

					</label>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2 col-sm-offset-1"><span class="red">*</span>投诉凭证：</label>
					<div class="col-sm-8">
						<input type="file">
						<input type="hidden" name="complain.complain_avatar">
					</div>
					<div class="col-sm-4 col-sm-offset-3" id="file">

					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8   col-sm-offset-3">
						<i class="fa fa-exclamation-circle i-blue" aria-hidden="true"></i>上传的文件不得超过了1.5M！支持JPG，JPEG，GIF，PNG，ZIP，RAR，doc，docx，xls，xlsx，pdf格式！
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-sm-offset-3">
						<button class="btn btn-cold-to-lighter ma-bottom btn-block" type="submit">提交投诉</button>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-default ma-bottom btn-block">取消</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

@include("/common/_jsasset.html") {}
<script src="${basePath}/static/js/vendor/jquery.ui.widget.js"></script>
<script src="${basePath}/static/js/jquery.fileupload.js"></script>
<script src="${basePath}/static/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>


<script type="text/javascript">
	$('input[type=file]').fileupload({
		url: '${basePath}/uploadify/upload?dir=allfile',
		maxChunkSize:1024*1024*1.5,
		paramName:'imgFile',
		dataType: 'json',
		dir:'file',
		done: function (e, data) {
			if (data.jqXHR.responseJSON.error==0) {
				$('input[name="complain.complain_avatar"]').attr("value",data.jqXHR.responseJSON.url);
				var str='<div>'+
						'							已上传凭证:<a class="title" href="'+data.jqXHR.responseJSON.url+'" target="_blank">'+data.jqXHR.responseJSON.fileName +'</a>'+
						'						</div>';
				$('#file').html($(str));
			};
		}
	});
	$('#complaint').submit(function (e) {
		$('#tips-reason').html('');
		var reason = $('textarea[name="complain.complain_reason"]').val();
		if(reason===''){
			$('#tips-reason').html($('<i class="glyphicon glyphicon-remove-sign  red" aria-hidden="true"></i>'+
					'						<span>请输入您的投诉理由</span>'));
		}
		else{
			var formData=$('#complaint').serialize();
			$.ajax({
				type:'POST',
				url:'${basePath}/complain/save',
				data:formData,
				dataType:'json',
				mimeType:'multipart/form-data',
				contentType:"application/x-www-form-urlencoded",
				cache:false,
				processData:false,
				success:function (data) {
					if (data.code==0) {
						window.location.href='${basePath}/complain/viewresult/'+data.data+''
					}else{
						alert(data.message);
					}
				}
			})
		}
		e.preventDefault();
	})
</script>
</body>
</html>