<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">

	@include("/common/_cssasset.html") {}

	<style type="text/css">
		.bodyHeight {
			height: 1000px;
		}

		.myFriends {
			padding-top: 50px;
		}

		.spanOrange {
			color: orange;
		}

		.businessCard {
			padding: 15px 0;
			margin: 0;
			border-bottom: 1px dotted #ddd;
		}

		.pd15 div {
			padding: 10px 0;
		}

		.pd10 {
			margin: 10px;
			padding: 0;
		}

		.colorGray {
			background-color: #f1f1f1;
			height: 44px;
			padding: 5px 10px;
		}

		.pdTop10 {
			padding-top: 6px;
		}

		.lineH {
			line-height: 34px;
		}

	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<div class="panel">
				<div class="panel-body">
					<div class="bg-tabs">
						<ul class="nav nav-tabs  " role="tablist">
							<li role="presentation" class="active"><a href="#iSee" aria-controls="iSee" role="tab"
							                                          data-toggle="tab" class="title">我看过谁</a></li>
							<li role="presentation"><a href="#seeMe" aria-controls="seeMe" role="tab" data-toggle="tab"
							                           class="title">谁看过我</a></li>
						</ul>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="iSee" url="${basePath}/record/whoiseeList?">
							<!-- 会员类型 -->
							<div class="form-inline colorGray">
								<div class="form-group">
									<label>会员类型：</label>
									<select class="form form-control" name="type">
										<option value="all">所有会员</option>
										<option value="企业会员">企业会员</option>
										<option value="政府会员">政府会员</option>
										<option value="个人会员">个人会员</option>
									</select>
								</div>
								<div class="form-group pull-right">
									<input class="form-control" type="text" name="name" placeholder="输入联系人搜索">
									<button class="btn btn-cold-to-lighter" type="button" id="searchiSee">搜索</button>
								</div>
							</div>
							<div id="iSeeList">

							</div>
							<nav class="pull-right">
								<ul class="pagination">
									<li>
										<a href="#" aria-label="Previous">
											<span aria-hidden="true">上一页</span>
										</a>
									</li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li>
										<a href="#" aria-label="Next">
											<span aria-hidden="true">下一页</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
						<div role="tabpanel" class="tab-pane" id="seeMe" url="${basePath}/record/whoseemeList?">
							<!-- 会员类型 -->
							<div class="form-inline colorGray">
								<div class="form-group">
									<label>会员类型：</label>
									<select class="form form-control" name="type">
										<option value="all">所有会员</option>
										<option value="企业会员">企业会员</option>
										<option value="政府会员">政府会员</option>
										<option value="个人会员">个人会员</option>
									</select>
								</div>
								<div class="form-group pull-right">
									<input class="form-control" type="text" name="name" placeholder="输入联系人搜索">
									<button class="btn btn-cold-to-lighter" id="searchseeMe">搜索</button>
								</div>
							</div>
							<div id="seeMeList">
							</div>
							<nav class="pull-right">
								<ul class="pagination">
									<li>
										<a href="#" aria-label="Previous">
											<span aria-hidden="true">上一页</span>
										</a>
									</li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li>
										<a href="#" aria-label="Next">
											<span aria-hidden="true">下一页</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@include("/common/_jsasset.html") {}

<script type="text/javascript">
	function ajaxLoadIsee(url) {
		$.ajax({
			type: 'GET',
			url: url,
			dataType: 'json',
			success: function (data) {
				var str = '';
				$.each(data.data.rows, function (n, value) {
					str += '<div class="row businessCard">' +
							'									<div class="col-sm-2"><a href=""><img src="'+value.ext.avatar+'" class="img-responsive"></a></div>' +
							'									<div class="col-sm-10">' +
							'										<div><a href="" class="title">'+value.ext.name+'</a></div>' +
							'										<div>'+value.ext.company+'</div>' +
							'										<div class="row lineH">' +
							'											<div class="col-sm-5">'+value.ext.target_trade+'</div>' +
							'											<div class="col-sm-7 ">' +
							'												<div class="pull-right">' +
							'													<button class="btn btn-sm btn-cold-to-lighter">交换名片</button>' +
							'													<button class="btn btn-sm btn-hot-to-lighter"> 投递项目</button>' +
							'													<button class="btn btn-sm btn-hot-to-lighter"> 查看联系方式</button>' +
							'												</div>' +
							'											</div>' +
							'										</div>' +
							'										<div class="row">' +
							'											<div class="col-sm-6 col-md-7">' +
							'												'+value.create_date+' 查看了<a href="${basePath}/'+value.type+'/view/'+value.channel_id+'" class="title">'+value.channel_title+'</a>' +
							'											</div>' +
							'											<div class="col-sm-6 col-md-5 ">' +
							'												<div class="pull-right">' +
							'													人脉关系： <a href="" class="title">已递送名片(1) </a>|<a href="" class="title">' +
							'													商友(3)</a>' +
							'												</div>' +
							'											</div>' +
							'										</div>' +
							'									</div>' +
							'								</div>';
				});
				$('#iSeeList').html($(str));
				var pagenation = '';
				var total = data.data.total;
				var page = data.data.page;
				(page != 1) ? pagenation += ('<li><a>首页</a></li>') : null;
				(total > 1 && page > 1) ? pagenation += ('<li><a>上一页</a></li>') : null;
				if (total <= 5 || page < 5) {

					for (var i = 1; i <= Math.min(total, 5); i++) {
						if (i == page) {
							pagenation += ('<li class="active"><a>' + i + '</a></li>');
						}
						else {
							pagenation += ('<li><a>' + i + '</a></li>');
						}
					}
					(total > 5) ? pagenation += ('<li><span>···</span></li><li><a>' + total + '</a></li>') : null;
				}
				else {
					((page - 2) > 0) ? pagenation += ('<li><a>' + (page - 2) + '</a></li>') : null;
					((page - 1) > 0) ? pagenation += ('<li><a>' + (page - 1) + '</a></li>') : null;
					pagenation += ('<li class="active"><a>' + page + '</a></li>');
					((page + 1) <= total) ? pagenation += ('<li><a>' + (page + 1) + '</a></li>') : null;
					((page + 2) <= total) ? pagenation += ('<li><a>' + (page + 2) + '</a></li>') : null;
					(total > (page + 2)) ? pagenation += ('<li><span>···</span></li></li><li><a>' + total + '</a></li>') : null;
				}
				(total > 1 && page < total) ? pagenation += ('<li><a>后一页</a></li>') : null;
				(page != total && total > 0) ? pagenation += ('<li><a>最后一页</a></li>') : null;
				$('#iSee .pagination').html($(pagenation));
				$('#iSee .pagination li a').click(function () {
					var pageCount = this.text;
					if (pageCount != page) {
						var pageUrl = $('#iSee').attr('url');
						switch (this.text) {
							case '上一页':
								pageCount = (page - 1);
								break;
							case '后一页':
								pageCount = (page + 1);
								break;
							case '首页':
								pageCount = 1;
								break;
							case '最后一页':
								pageCount = total;
								break;
							default:
								console.log("页数不存在");
								break;
						}
						pageUrl += '&page=' + pageCount;
						ajaxLoadIsee(pageUrl);
					}
				})
			}
		})
	}
	function ajaxLoadSeeme(url) {
		$.ajax({
			type: 'GET',
			url: url,
			dataType: 'json',
			success: function (data) {
				var str = '';
				$.each(data.data.rows, function (n, value) {
					str += '	<div class="row businessCard">' +
							'									<div class="col-sm-2"><a href=""><img src="'+value.ext.avatar+'" class="img-responsive"></a></div>' +
							'									<div class="col-sm-10">' +
							'										<div><a href="" class="title">'+value.ext.name+'</a></div>' +
							'										<div>'+value.ext.company+'</div>' +
							'										<div class="row">' +
							'											<div class="col-sm-7 col-sm-offset-5">' +
							'												<div class="pull-right">' +
							'													<button class="btn btn-sm btn-cold-to-lighter">交换名片</button>' +
							'													<button class="btn btn-sm btn-hot-to-lighter"> 投递项目</button>' +
							'													<button class="btn btn-sm btn-hot-to-lighter"> 查看联系方式</button>' +
							'												</div>' +
							'											</div>' +
							'										</div>' +
							'										<div class="row">' +
							'											<div class="col-sm-6 col-md-7">' +
							'												发布了'+value.type+'信息<a href="${basePath}/'+value.type+'/view/'+value.channel_id+'" class="title">'+value.channel_title+'</a>' +
							'											</div>' +
							'											<div class="col-sm-6 col-md-5">' +
							'												<div class="pull-right">' +
							'													人脉关系： <a href="" class="title">已递送名片(1) </a>|<a href=""' +
							'													                                                class="title">' +
							'													商友(3)</a>' +
							'												</div>' +
							'											</div>' +
							'										</div>' +
							'									</div>' +
							'								</div>';
				})
				$('#seeMeList').html($(str));
				var pagenation = '';
				var total = data.data.total;
				var page = data.data.page;
				(page != 1) ? pagenation += ('<li><a>首页</a></li>') : null;
				(total > 1 && page > 1) ? pagenation += ('<li><a>上一页</a></li>') : null;
				if (total <= 5 || page < 5) {

					for (var i = 1; i <= Math.min(total, 5); i++) {
						if (i == page) {
							pagenation += ('<li class="active"><a>' + i + '</a></li>');
						}
						else {
							pagenation += ('<li><a>' + i + '</a></li>');
						}
					}
					(total > 5) ? pagenation += ('<li><span>···</span></li><li><a>' + total + '</a></li>') : null;
				}
				else {
					((page - 2) > 0) ? pagenation += ('<li><a>' + (page - 2) + '</a></li>') : null;
					((page - 1) > 0) ? pagenation += ('<li><a>' + (page - 1) + '</a></li>') : null;
					pagenation += ('<li class="active"><a>' + page + '</a></li>');
					((page + 1) <= total) ? pagenation += ('<li><a>' + (page + 1) + '</a></li>') : null;
					((page + 2) <= total) ? pagenation += ('<li><a>' + (page + 2) + '</a></li>') : null;
					(total > (page + 2)) ? pagenation += ('<li><span>···</span></li></li><li><a>' + total + '</a></li>') : null;
				}
				(total > 1 && page < total) ? pagenation += ('<li><a>后一页</a></li>') : null;
				(page != total && total > 0) ? pagenation += ('<li><a>最后一页</a></li>') : null;
				$('#seeMe .pagination').html($(pagenation));
				$('#seeMe .pagination li a').click(function () {
					var pageCount = this.text;
					if (pageCount != page) {
						var pageUrl = $('#seeMe').attr('url');
						switch (this.text) {
							case '上一页':
								pageCount = (page - 1);
								break;
							case '后一页':
								pageCount = (page + 1);
								break;
							case '首页':
								pageCount = 1;
								break;
							case '最后一页':
								pageCount = total;
								break;
							default:
								console.log("页数不存在");
								break;
						}
						pageUrl += '&page=' + pageCount;
						ajaxLoadSeeme(pageUrl);
					}
				})
			}
		})
	}
	$('#searchiSee').click(function () {
		var url = '${basePath}/record/queryisee?';
		var name = $('#iSee input[name="name"]').val();
		var type = $('#iSee select[name="type"] option:selected').val();
		(type === 'all') ? null : url += 'vip_type=' + type + '';
		if (name !== null && name !== undefined && name !== '') {
			url += '&by_view_name=' + name + '';
		}
		ajaxLoadIsee(url);
		$('#iSee').attr('url',url);
	})
	$('#searchseeMe').click(function () {
		var url = '${basePath}/record/queryseeme?';
		var name = $('#seeMe input[name="name"]').val();
		var type = $('#seeMe select[name="type"] option:selected').val();
		(type === 'all') ? null : url += 'vip_type=' + type + '';
		if (name !== null && name !== undefined && name !== '') {
			url += '&view_to_name=' + name + '';
		}
		ajaxLoadSeeme(url);
		$('#seeMe').attr('url',url);
	})
	$(document).ready(function () {
		ajaxLoadIsee('${basePath}/record/whoiseeList');
		ajaxLoadSeeme('${basePath}/record/whoseemeList');
	})
</script>
</body>
</html>