<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">

	@include("/common/_cssasset.html") {}

	<style type="text/css">
		.main {
			border: 1px solid #ddd;
			background-color: white;
		}

		.consultingProblem {
			background: #fffbf2;
			border: 1px solid #d9dce8;
			padding: 15px;
			margin: 10px 0 0 0;
		}

		.red {
			color: #e93100;
		}

		.red:hover {
			color: #e93100;
		}

		.left80 {
			padding-left: 80px;
		}

		.table tr:first-child {
			background-color: #f8f8f8;
		}

		.pd10 {
			padding: 5px 10px;
		}

		.zxzt {
			margin-top: 10px;
			background-color: white;
		}

		.bgGray {
			background-color: #f1f1f1;
		}

		.blue {
			color: #1d86e0;
		}

		.delete {
			padding-left: 10px;
		}

		.delete > button {
			margin-left: 10px;
		}

		.tips {
			margin-bottom: 0;
			padding-top: 7px;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<div class="panel panel-default">
				<div class="panel-body">
					<!--咨询提交-->
					<div class=" consultingProblem">
						<form class="form-horizontal" id="consultation" method="post" enctype="multipart/form-data"
						      role="form">
							<!--咨询帮助-->
							<div class="form-group">
								<a href="" class="red col-sm-offset-2 col-sm-9">想咨询投融资相关的问题？来这里吧！</a>
							</div>
							<!--问题简述-->
							<div class="form-group">
								<label class="control-label col-sm-2"><span class="red">*</span>问题简述:</label>
								<div class="col-sm-5">
									<input type="text" name="consult.brief" class="form-control">
								</div>
								<label id="tips-brief" class="col-sm-5 tips red"></label>
							</div>
							<!--问题类型-->
							<div class="form-group">
								<label class="control-label col-sm-2"><span class="red">*</span>问题类型:</label>
								<div class="col-sm-3 col-md-2">
									<select class="form-control" name="consult.type">
										<option value="0">请选择</option>
										<option value="融资">融资</option>
										<option value="投资">投资</option>
										<option value="贷款">贷款</option>
										<option value="其他">其他</option>
									</select>
								</div>
								<label id="tips-type" class="col-sm-5 tips  red"></label>
							</div>
							<!--详细说明-->
							<div class="form-group">
								<label class="control-label col-sm-2"><span class="red">*</span>详细说明:</label>
								<div class="col-sm-5">
									<textarea type="text" name="consult.consult_content" class="form-control"></textarea>
								</div>
								<label id="tips-consult_content" class="col-sm-5 tips  red"></label>
							</div>
							<!--提交咨询-->
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-3">
									<button class="btn btn-cold-to-lighter" type="submit">提交咨询</button>
								</div>
							</div>
						</form>
					</div>
					<!--咨询记录-->
					<div class="panel panel-default" id="consult" url="${basePath}/consult/consultList">
						<div class="panel-heading">
							<form class="form-inline">
								<div class="form-group">
									<label>咨询状态：</label>
									<select class="form-control input-sm" name="status">
										<option value="all">所有状态</option>
										<option value="已回复">已回复</option>
										<option value="未回复">未回复</option>
									</select>
								</div>
								<div class="form-group">
									<label>选择分类：</label>
									<select class="form-control input-sm" name="type">
										<option value="all">所有分类</option>
										<option value="融资">融资</option>
										<option value="投资">投资</option>
										<option value="贷款">贷款</option>
										<option value="其他">其他</option>
									</select>
									<button class="btn btn-cold-to-lighter btn-sm" id="searchConsult" type="button"><i class="fa fa-search"></i>搜索
									</button>
								</div>
							</form>
						</div>
						<div id="consultList" >
						</div>
						<nav class="pull-right">
							<ul class="pagination">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">上一页</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">下一页</span>
									</a>
								</li>
							</ul>
						</nav>
						<div class="delete">
								<input type="checkbox" id="selectAll">
								<button class="btn btn-cold-to-lighter btn-sm" onclick="pluralDelete()">删除</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@include("/common/_jsasset.html") {}

<script type="text/javascript">
	function ajaxLoadPagination(id,total,page) {
		var pagenation = '';
		(page != 1) ? pagenation += ('<li><a>首页</a></li>') : null;
		(total > 1 && page > 1) ? pagenation += ('<li><a>上一页</a></li>') : null;
		if (total <= 5 || page < 5) {

			for (var i = 1; i <= Math.min(total, 5); i++) {
				if (i == page) {
					pagenation += ('<li class="active"><a>' + i + '</a></li>');
				}
				else {
					pagenation += ('<li><a>' + i + '</a></li>');
				}
			}
			(total > 5) ? pagenation += ('<li><span>···</span></li><li><a>' + total + '</a></li>') : null;
		}
		else {
			((page - 2) > 0) ? pagenation += ('<li><a>' + (page - 2) + '</a></li>') : null;
			((page - 1) > 0) ? pagenation += ('<li><a>' + (page - 1) + '</a></li>') : null;
			pagenation += ('<li class="active"><a>' + page + '</a></li>');
			((page + 1) <= total) ? pagenation += ('<li><a>' + (page + 1) + '</a></li>') : null;
			((page + 2) <= total) ? pagenation += ('<li><a>' + (page + 2) + '</a></li>') : null;
			(total > (page + 2)) ? pagenation += ('<li><span>···</span></li></li><li><a>' + total + '</a></li>') : null;
		}
		(total > 1 && page < total) ? pagenation += ('<li><a>后一页</a></li>') : null;
		(page != total && total > 0) ? pagenation += ('<li><a>最后一页</a></li>') : null;
		$('#'+id+' .pagination').html($(pagenation));
		$('#'+id+' .pagination li a').click(function () {
			var pageCount = this.text;
			if (pageCount != page) {
				var pageUrl = $('#'+id+'').attr('url');
				switch (this.text) {
					case '上一页':
						pageCount = (page - 1);
						break;
					case '后一页':
						pageCount = (page + 1);
						break;
					case '首页':
						pageCount = 1;
						break;
					case '最后一页':
						pageCount = total;
						break;
					default:
						console.log("页数不存在");
						break;
				}
				pageUrl += '&page=' + pageCount;
				ajaxLoadConsult(pageUrl);
			}
		})
	}
	$('#consultation').submit(function (e) {
		$('#tips-brief').text('');
		$('#tips-type').text('');
		$('#tips-consult_content').text('');
		var brief = $('input[name="consult.brief"]').val();
		var type = $('select[name="consult.type"] option:selected').val();
		var consult_content = $('textarea[name="consult.consult_content"]').val();
		if (brief === '') {
			$('#tips-brief').text('请输入问题简述');
		}
		else if(type===0){
			$('#tips-type').text('请选择问题类型');
		}
		else if(consult_content===''){
			$('#tips-consult_content').text('请填写详细说明');
		}
		else{
			var formObj = $(this);
			var formUrl = '${basePath}/consult/save';
			var formData = $('#consultation').serialize();
			$.ajax({
				url:formUrl,
				type:'POST',
				data:formData,
				dataType:'json',
				mimeType:'multipart/form-data',
				contentType:"application/x-www-form-urlencoded",
				cache:false,
				processData:false,
				success:function (data) {
					(data.code) ? alert(data.message) : ajaxLoadConsult('${basePath}/consult/consultList');
				}
			})
		}
		e.preventDefault();
	})
	function ajaxLoadConsult(url) {
		$.ajax({
			type: 'GET',
			url: url,
			dataType: 'json',
			success: function (data) {
				var str = '<table class="table table-hover table-bordered text-center">' +
						'								<tr>' +
						'									<th class=" text-center">选择</th>' +
						'									<th class=" text-center">咨询日期</th>' +
						'									<th class=" text-center">咨询内容</th>' +
						'									<th class=" text-center">问题类型</th>' +
						'									<th class=" text-center">咨询状态</th>' +
						'									<th class=" text-center">操作</th>' +
						'								</tr>';
				$.each(data.data.rows, function (n, value) {
					str += '<tr>' +
							'									<td><input type="checkbox" name="consult" value="' + value.pk_consult + '"></td>' +
							'									<td>' + value.consult_date + '</td>' +
							'									<td>' + value.brief + '</td>' +
							'									<td>' + value.type + '</td>' +
							'									<td>' + value.status + '</td>' +
							'									<td><a class="to-cold" href="">查看</a> <a class="to-cold" href="javascript:void(0)" onclick="singleDelete(' + value.pk_consult + ')">删除</a></td>' +
							'								</tr>';
				})
				str += '</table>';
				$('#consultList').html($(str));
				ajaxLoadPagination('consult',data.data.total,data.data.page);
			}
		})
	}
	function singleDelete(pk) {
		event.returnValue = confirm("你确认要删除吗？");
		if(event.returnValue){
			$.ajax({
				type:'GET',
				url:'${basePath}/consult/remove?ids='+pk+'',
				dataType:'json',
				success:function (data) {
					if (data.code==0){
						ajaxLoadlist('${basePath}/consult/consultList');
					}
					else{
						alert(data.message);
					}
				}
			})
		}
	}
	$(document).ready(function () {
		ajaxLoadConsult('${basePath}/consult/consultList');
	})
	$('#selectAll').click(function () {
		if ($(this).is(':checked')){
			$("input[name='consult']").each(function() {
				$(this).prop('checked',true);
			});
		}
		else{
			$("input[name='consult']").each(function() {
				$(this).removeAttr('checked');
			});
		}
	})
	function pluralDelete(){
		var url = '${basePath}/consult/remove?ids=';
		var haveDelete = false;
		$('input:checkbox[name="consult"]:checked').each(function (index,element) {
			(haveDelete)?url=url+'-'+$(this).val():url+=$(this).val();
			haveDelete = true;
		})
		if (haveDelete){
			event.returnValue = confirm("你确认要删除吗？");
			if(event.returnValue){
				$.ajax({
					type:'POST',
					url:url,
					dataType:'json',
					success:function (data) {
						if (data.code==0){
							ajaxLoadConsult('${basePath}/consult/consultList');
						}
						else{
							alert(data.message);
						}
					}
				})
			}
		}

	}
	$('#searchConsult').click(function () {
		var url = '${basePath}/consult/query?';
		var type = $('select[name="type"] option:selected').val();
		var status = $('select[name="status"] option:selected').val();
		(type==='all')?null:url+='type='+type+'';
		(status==='all')?null:url+='&status='+status+'';
		$('#consult').attr('url',url)
		ajaxLoadConsult(url);
	})
</script>
</body>
</html>