<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">

	@include("/common/_cssasset.html") {}


	<style type="text/css">
		.bg-gary {
			background-color: #f1f1f1;
			padding: 15px;
			margin-bottom: 10px;
			line-height: 30px;
		}

		.i-false {
			font-size: 30px;
			vertical-align: middle;
			color: red;
		}

		.i-right {
			font-size: 30px;
			/*	vertical-align: middle;*/
			color: green;
		}

		.i-minus {
			font-size: 18px;
			vertical-align: middle;
			color: red;
			line-height: 34px;
			margin-left: 10px;
		}

		.lh-20 {
			line-height: 20px;
		}

		.table-dashed {
			margin-bottom: 0px;
		}

		.table-dashed > tbody > tr > td {
			border: none;
			border-bottom: 1px dashed #a5a5a5;
		}

		.table-dashed > tbody > tr:last-child > td {
			border: none;
		}

		.border-panel-body {
			border: 1px solid #efefef !important;
			padding: 15px !important;
		}

		.pd-clear {
			padding: 0px !important;
		}

		.tip {
			margin-top: 100px;
		}

		.tip div {
			margin-bottom: 5px;
		}

		.success-file {
			margin-left: 34px;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.success-extra:after {
			content: '';
		}
	</style>
</head>
<body>
<div class="container">
	<div class="col-sm-offset-2 col-sm-10">
		<div class="panel panel-default">
			<div class="panel-body">
				<!--认证等级-->
				<div class="bg-gary">
					<div>
						<strong>我的认证等级 : </strong>
						<i class="glyphicon glyphicon-star i-red"></i>
						<i class="glyphicon glyphicon-star i-red"></i>
						<i class="glyphicon glyphicon-star i-red"></i>
						<i class="glyphicon glyphicon-star"></i>
						<i class="glyphicon glyphicon-star"></i>
					</div>
					<div><strong>已通过的认证 : </strong>手机认证</div>
					<p><i class="fa fa-lightbulb-o"></i>为验证会员资料可信度，我们建立了一套信用认证等级制度，完整的认证是会员搜索到您的重要保证，更是让对方能够信任您的基础。一旦发现有违诚信的虚假认证，投融界有权作出相应处理：负面标记、限制行为、甚至封号。
					</p>
				</div>
				<!--认证内容-->
				<div class="panel panel-default">
					<!--认证选项-->
					<div class="panel-heading ">
						<ul class="nav nav-tabs nav-inline">
							<li role="presentation" class="active"><a role="tab" href="#my-identification"
							                                          data-toggle="tab">我的认证</a></li>
							@if(usertype=="1"||usertype=="5"||usertype=="3"||usertype=="4"||usertype=="2"||usertype=="6"){
							<li role="presentation" class=""><a role="tab" href="#phone-identification"
							                                    data-toggle="tab">手机认证</a></li>
							@}
							@if(usertype=="1"||usertype=="5"||usertype=="3"||usertype=="4"||usertype=="2"||usertype=="6"){
							<li role="presentation" class=""><a role="tab" href="#person-identification"
							                                    data-toggle="tab">个人身份认证</a></li>
							@}
							@if(usertype=="5"||usertype=="6"){
							<li role="presentation" class=""><a role="tab" href="#esnterprises-identification"
							                                    data-toggle="tab">企业身份认证</a></li>
							@}
							@if(usertype=="1"||usertype=="2"){
							<li role="presentation" class=""><a role="tab" href="#job-identification" data-toggle="tab">个人职务证明</a>
							</li>
							@}
							@if(usertype=="2"||usertype=="6"){
							<li role="presentation" class=""><a role="tab" href="#success-case"
							                                    data-toggle="tab">成功案例</a></li>
							@}
							@if(usertype=="1"||usertype=="5"||usertype=="3"||usertype=="4"||usertype=="2"||usertype=="6"){
							<li role="presentation" class=""><a role="tab" href="#email-case" data-toggle="tab">邮箱认证</a>
							</li>
							@}

							<li role="presentation" class=""><a role="tab" href="#card-identification"
							                                    data-toggle="tab">名片认证</a></li>
							@if(usertype=="5"||usertype=="6"){
							<li role="presentation" class=""><a role="tab" href="#bank-identification"
							                                    data-toggle="tab">银行账户认证</a></li>
							@}
							@if(usertype=="5"){
							<li role="presentation" class=""><a role="tab" href="#honor-identification"
							                                    data-toggle="tab">银行荣誉认证</a></li>
							@}
						</ul>
					</div>
					<div class="tab-content">
						<!--我的认证-->
						<div class="tab-pane fade in active" id="my-identification">
							<div class="panel-body border-panel-body pd-clear">
								<table class="table table-dashed">
									<tr>
										<td>
											<div class="row">
												<div class="col-sm-1 text-center lh-40">
													<i class="glyphicon glyphicon-ok-sign i-right"></i>
												</div>
												<div class="col-sm-11">
													<div class="row ">
														<div class="col-sm-12 lh-20"><strong>手机认证</strong></div>
														<div class="col-sm-9 lh-20 text-nowrap">
															手机认证可以让需求方有更多的途径和您进行深入交流，为您的真实性加分。
														</div>
														<div class="col-sm-1 text-nowrap lh-20"></div>
														<div class="col-sm-2">
															<button class="btn btn-cold-to-lighter btn-xs btn-block">
																修改
															</button>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="row">
												<div class="col-sm-1 text-center lh-20">
													<i class="glyphicon glyphicon-remove-sign i-false"></i>
												</div>
												<div class="col-sm-11">
													<div class="row ">
														<div class="col-sm-12 lh-20"><strong>个人身份认证</strong></div>
														<div class="col-sm-9 lh-20 text-nowrap">
															个人认证是通过对您的身份证进行认证，保障平台会员身份的真实性。
														</div>
														<div class="col-sm-1 text-nowrap lh-20">未认证</div>
														<div class="col-sm-2">
															<button class="btn btn-cold-to-lighter btn-xs btn-block">
																立即认证
															</button>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="row">
												<div class="col-sm-1 text-center lh-20">
													<i class="glyphicon glyphicon-remove-sign i-false"></i>
												</div>
												<div class="col-sm-11">
													<div class="row ">
														<div class="col-sm-12 lh-20"><strong>名片认证</strong></div>
														<div class="col-sm-9 lh-20 text-nowrap">
															认证未通过原因：认证信息不全
														</div>
														<div class="col-sm-1 text-nowrap lh-20">未认证</div>
														<div class="col-sm-2">
															<button class="btn btn-cold-to-lighter btn-xs btn-block">
																修改
															</button>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>

						@if(usertype=="1"||usertype=="5"||usertype=="3"||usertype=="4"||usertype=="2"||usertype=="6"){
						<!--手机认证-->
						<div class="tab-pane fade" id="phone-identification">
							<div class="panel-body border-panel-body">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-sm-2">手机号码:</label>
										<div class="col-sm-6 col-md-4">
											<input class="form-control" type="text" value="${phone}">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2">图片验证码:</label>
										<div class="col-sm-6 col-md-4">
											<div class="input-group">
												<input class="form-control" type="text">
												<div class="input-group-addon">
													<img class="img-responsive" alt="验证码">
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2">验证码:</label>
										<div class="col-sm-6 col-md-4">
											<div class="input-group">
												<input class="form-control" type="text" placeholder="请输入验证码">
												<div class="input-group-btn">
													<button class="btn btn-to-hot ">免费获取验证码</button>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-offset-2 col-sm-3">
											<button class="btn btn-cold-to-lighter" role="button" type="submit">提交认证</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						@}
						@if(usertype=="1"||usertype=="5"||usertype=="3"||usertype=="4"||usertype=="2"||usertype=="6"){
						<!--个人身份认证-->
						<div class="tab-pane fade" id="person-identification">
							<div class="panel-body border-panel-body">
								<div class="row">
									<div class="col-sm-9">
										<form class="form-horizontal" method="post" enctype="multipart/form-data">
											<div class="form-group">
												<label class="control-label col-sm-4 col-md-3">真实姓名:</label>
												<div class="col-sm-6 ">
													<input class="form-control" type="text" value="${name}" name="auth.name">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-4 col-md-3">身份证号码:</label>
												<div class="col-sm-6 ">
													<input class="form-control" type="text" name="auth.idcard">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-4 col-md-3">半身照片:</label>
												<div class="col-sm-6 ">
													<input class="" type="file" name="auth.halfbody_photo">
													<div></div>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-4 col-md-3">身份证照片(正面):</label>
												<div class="col-sm-6 ">
													<input class="" type="file" name="auth.idcard_photo">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-4 col-md-3">手持身份证照片:</label>
												<div class="col-sm-6 ">
													<input class="" type="file" name="auth.handheld_photo">
												</div>
											</div>
											<div class="row tip">
												<div class="col-sm-offset-3 col-sm-9">认证小贴士:</div>
												<div class="col-sm-offset-3 col-sm-9">（1）诚信回馈：获得免费评论3条/天，免费约谈1次/天；</div>
												<div class="col-sm-offset-3 col-sm-9">（2）
													通过认证后，将点亮您“个人主页”顶端的图标，表示：已通过个人身份认证。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													声明：投融界严格保守用户身份信息；如未征求您本人同意，绝不向第三方透露。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													提示：认证信息是会员自愿提供，目前中国无完整渠道确保100%真实，请理性对待。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													备注：所上传的照片格式为gif,jpg,jpeg,png，文件大小在1.5M以内
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-3 col-sm-3">
													<button class="btn btn-cold-to-lighter" role="button" type="submit">提交认证</button>
												</div>
											</div>
										</form>
									</div>
									<!--照片示例-->
									<div class="col-sm-3">
										<div>半身照片示例:</div>
										<img class="img-responsive" alt="img">
										<div>身份证照片(正面)示例:</div>
										<img class="img-responsive" alt="img">
										<div>手持身份证照片示例:</div>
										<img class="img-responsive" alt="img">
									</div>
								</div>
							</div>
						</div>
						@}


						@if(usertype=="5"||usertype=="6"){
						<!--企业身份认证-->
						<div class="tab-pane fade" id="esnterprises-identification">
							<div class="panel-body border-panel-body">
								<div class="row">
									<div class="col-sm-9">
										<form class="form-horizontal" method="post" enctype="multipart/form-data">
											<div class="form-group">
												<label class="control-label col-sm-3">企业名称:</label>
												<div class="col-sm-6">
													<input class="form-control" type="text" value="${company}" name="auth.company">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3">授权人姓名:</label>
												<div class="col-sm-6">
													<input class="form-control" type="text" name="auth.licensor">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3">营业执照注册号:</label>
												<div class="col-sm-6 ">
													<input class="form-control" type="text" name="auth.license">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3">营业执照:</label>
												<div class="col-sm-6 col-md-4">
													<input class="" type="file" name="auth.business_license">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3">企业授权书:</label>
												<div class="col-sm-6 col-md-4">
													<input class="" type="file" name="auth.enterprise_license">
												</div>
												<div class="col-sm-2"><a class="title">模板下载</a></div>
											</div>
											<div class="row tip">
												<div class="col-sm-offset-3 col-sm-9">认证小贴士:</div>
												<div class="col-sm-offset-3 col-sm-9">（1）诚信回馈：获得免费评论2条/天，免费约谈1次/天；</div>
												<div class="col-sm-offset-3 col-sm-9">（2）
													上传企业授权书，并且通过认证后，将点亮您“个人主页”顶端的图标，表示：已通过企业身份认证。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													声明：投融界严格保守用户身份信息；如未征求您本人同意，绝不向第三方透露。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													提示：认证信息是会员自愿提供，目前中国无完整渠道确保100%真实，请理性对待。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													备注：所上传的照片格式为gif,jpg,jpeg,png，文件大小在1.5M以内
												</div>
											</div>
											<div class="row">
												<div class="col-sm-offset-3 col-sm-3">
													<button class="btn btn-cold-to-lighter" role="button" type="submit">提交认证</button>
												</div>
											</div>
										</form>
									</div>
									<!--照片示例-->
									<div class="col-sm-3">
										<div>营业执照示例:</div>
										<img class="img-responsive" alt="img">
										<div>企业授权书示例:</div>
										<img class="img-responsive" alt="img">
									</div>
								</div>
							</div>
						</div>
						@}

						@if(usertype=="1"||usertype=="2"){
						<!--个人职务认证-->
						<div class="tab-pane fade" id="job-identification">
							<div class="panel-body border-panel-body">
								<div class="row">
									<div class="col-sm-9">
										<form class="form-horizontal" method="post" enctype="multipart/form-data">
											<div class="form-group">
												<label class="control-label col-sm-3">职务证明:</label>
												<div class="col-sm-6 col-md-4">
													<input class="" type="file" name="auth.role">
												</div>
												<div class="col-sm-2"><a class="title">模板下载</a></div>
											</div>
											<div class="row tip">
												<div class="col-sm-offset-3 col-sm-9">认证小贴士:</div>
												<div class="col-sm-offset-3 col-sm-9">（1）诚信回馈：获得免费评论2条/天，免费约谈1次/天；</div>
												<div class="col-sm-offset-3 col-sm-9">（2）
													上传企业授权书，并且通过认证后，将点亮您“个人主页”顶端的图标，表示：已通过企业身份认证。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													声明：投融界严格保守用户身份信息；如未征求您本人同意，绝不向第三方透露。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													提示：认证信息是会员自愿提供，目前中国无完整渠道确保100%真实，请理性对待。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													备注：所上传的照片格式为gif,jpg,jpeg,png，文件大小在1.5M以内
												</div>
											</div>
											<div class="row">
												<div class="col-sm-offset-3 col-sm-3">
													<button class="btn btn-cold-to-lighter" role="button" type="submit">提交认证</button>
												</div>
											</div>
										</form>
									</div>
									<!--照片示例-->
									<div class="col-sm-3">
										<div>职务证明示例:</div>
										<img class="img-responsive" alt="img">
									</div>
								</div>
							</div>
						</div>
						@}

						@if(usertype=="2"||usertype=="6"){
						<!--成功案例-->
						<div class="tab-pane fade" id="success-case">
							<div class="panel-body border-panel-body">
								<div class="row">
									<div class="col-sm-9">
										<div class="row">
											<div class="col-sm-offset-3 col-sm-9">
												请上传成功案例相关材料照片，需求清晰，可识别
											</div>
										</div>
										<form class="form-horizontal">
											<div class="form-group">
												<label class="control-label col-sm-3">成功案例名称:</label>
												<div class="col-sm-6 ">
													<div class="input-group">
														<div class="input-group-addon">1</div>
														<input class="form-control" type="text" name="authcase.case_auth_name ">
													</div>
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													<input class="success-file" type="file" name="authcase.case_auth_photo">
												</div>
											</div>
											<div id="more-success">
											</div>
											<div class="form-group">
												<div class="col-sm-offset-3 col-sm-9">
													<a class="btn btn-to-hot success-file btn-xs"  onclick="addMoreSuccess()">
														+添加更多成功案例
													</a>
												</div>
											</div>
											<div class="row tip">
												<div class="col-sm-offset-3 col-sm-9">认证小贴士:</div>
												<div class="col-sm-offset-3 col-sm-9">（1）诚信回馈：获得免费评论2条/天，免费约谈1次/天；</div>
												<div class="col-sm-offset-3 col-sm-9">（2）
													上传企业授权书，并且通过认证后，将点亮您“个人主页”顶端的图标，表示：已通过企业身份认证。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													声明：投融界严格保守用户身份信息；如未征求您本人同意，绝不向第三方透露。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													提示：认证信息是会员自愿提供，目前中国无完整渠道确保100%真实，请理性对待。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													备注：所上传的照片格式为gif,jpg,jpeg,png，文件大小在1.5M以内
												</div>
											</div>
											<div class="row">
												<div class="col-sm-offset-3 col-sm-3">
													<button class="btn btn-cold-to-lighter" role="button" type="submit">提交认证</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						@}

						@if(usertype=="1"||usertype=="5"||usertype=="3"||usertype=="4"||usertype=="2"||usertype=="6"){
						<!--邮箱认证-->
						<div class="tab-pane fade" id="email-case">
							<div class="panel-body border-panel-body">
								<div class="row">
									<div class="col-sm-9">
										<form class="form-horizontal">
											<div class="form-group">
												<label class="control-label col-sm-3">认证邮箱:</label>
												<div class="col-sm-6 ">
													<input class="form-control" type="text" value="${email}">
												</div>

											</div>
											<div class="row tip">
												<div class="col-sm-offset-3 col-sm-9">认证小贴士:</div>
												<div class="col-sm-offset-3 col-sm-9">（1）诚信回馈：获得免费评论2条/天，免费约谈1次/天；</div>
												<div class="col-sm-offset-3 col-sm-9">（2）
													上传企业授权书，并且通过认证后，将点亮您“个人主页”顶端的图标，表示：已通过企业身份认证。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													声明：投融界严格保守用户身份信息；如未征求您本人同意，绝不向第三方透露。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													提示：认证信息是会员自愿提供，目前中国无完整渠道确保100%真实，请理性对待。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													备注：所上传的照片格式为gif,jpg,jpeg,png，文件大小在1.5M以内
												</div>
											</div>
											<div class="row">
												<div class="col-sm-offset-3 col-sm-3">
													<button class="btn btn-cold-to-lighter" role="button" type="submit">提交认证</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						@}

						<!--名片认证-->
						<div class="tab-pane fade" id="card-identification">
							<div class="panel-body border-panel-body">
								<div class="row">
									<div class="col-sm-9">
										<form class="form-horizontal" method="post" enctype="multipart/form-data">
											<div class="form-group">
												<label class="control-label col-sm-3">姓名:</label>
												<div class="col-sm-6 col-md-4">
													<input class="form-control" type="text" value="${name}" name="auth.card_name">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3">名片(正面):</label>
												<div class="col-sm-6 col-md-4">
													<input class="" type="file" name="auth.card_front">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3">名片(背面):</label>
												<div class="col-sm-6 col-md-4">
													<input class="" type="file" name="auth.card_back">
												</div>
											</div>
											<div class="row tip">
												<div class="col-sm-offset-3 col-sm-9">认证小贴士:</div>
												<div class="col-sm-offset-3 col-sm-9">（1）诚信回馈：获得免费评论2条/天，免费约谈1次/天；</div>
												<div class="col-sm-offset-3 col-sm-9">（2）
													上传企业授权书，并且通过认证后，将点亮您“个人主页”顶端的图标，表示：已通过企业身份认证。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													声明：投融界严格保守用户身份信息；如未征求您本人同意，绝不向第三方透露。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													提示：认证信息是会员自愿提供，目前中国无完整渠道确保100%真实，请理性对待。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													备注：所上传的照片格式为gif,jpg,jpeg,png，文件大小在1.5M以内
												</div>
											</div>
											<div class="row">
												<div class="col-sm-offset-3 col-sm-3">
													<button class="btn btn-cold-to-lighter" role="button" type="submit">提交认证</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						@if(usertype=="5"||usertype=="6"){
						<!--银行账户认证-->
						<div class="tab-pane fade" id="bank-identification">
							<div class="panel-body border-panel-body">
								<div class="row">
									<div class="col-sm-9">
										<form class="form-horizontal" method="post" enctype="multipart/form-data">
											<div class="form-group">
												<label class="control-label col-sm-3">法定代理人:</label>
												<div class="col-sm-6">
													<input class="form-control" type="text" name="auth.bank_user">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3">开户银行:</label>
												<div class="col-sm-6">
													<input class="form-control" type="text" name="auth.bank">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3">账户:</label>
												<div class="col-sm-6 ">
													<input class="form-control" type="text" name="auth.bank_account">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3">银行开户证明:</label>
												<div class="col-sm-6 col-md-4">
													<input class="" type="file" name="auth.bank_photo">
												</div>
											</div>
											<div class="row tip">
												<div class="col-sm-offset-3 col-sm-9">认证小贴士:</div>
												<div class="col-sm-offset-3 col-sm-9">（1）诚信回馈：获得免费评论2条/天，免费约谈1次/天；</div>
												<div class="col-sm-offset-3 col-sm-9">（2）
													上传企业授权书，并且通过认证后，将点亮您“个人主页”顶端的图标，表示：已通过企业身份认证。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													声明：投融界严格保守用户身份信息；如未征求您本人同意，绝不向第三方透露。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													提示：认证信息是会员自愿提供，目前中国无完整渠道确保100%真实，请理性对待。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													备注：所上传的照片格式为gif,jpg,jpeg,png，文件大小在1.5M以内
												</div>
											</div>
											<div class="row">
												<div class="col-sm-offset-3 col-sm-3">
													<button class="btn btn-cold-to-lighter" role="button" type="submit">提交认证</button>
												</div>
											</div>
										</form>
									</div>
									<!--照片示例-->
									<div class="col-sm-3">
										<div>银行开户证明示例:</div>
										<img class="img-responsive" alt="img">
									</div>
								</div>
							</div>
						</div>
						@}

						@if(usertype=="5"){
						<!--企业荣誉认证-->
						<div class="tab-pane fade" id="honor-identification">
							<div class="panel-body border-panel-body">
								<div class="row">
									<div class="col-sm-9">
										<div class="row">
											<div class="col-sm-offset-3 col-sm-9">
												请上传企业荣誉相关材料照片，需求清晰，可识别
											</div>
										</div>
										<form class="form-horizontal" method="post" enctype="multipart/form-data">
											<div class="form-group">
												<label class="control-label col-sm-3">企业荣誉名称:</label>
												<div class="col-sm-6 ">
													<div class="input-group">
														<div class="input-group-addon">1</div>
														<input class="form-control" type="text" name="authhonor.honor_auth_name">
													</div>
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													<input class="success-file" type="file" name="authhonor.honor_auth_photo">
												</div>
											</div>
											<div id="more-honor"></div>
											<div class="form-group">
												<div class="col-sm-offset-3 col-sm-6 ">
													<div class="input-group text-nowrap">
														<div class="input-group-addon">1</div>
														<input class="form-control " type="text">
														<i class="glyphicon glyphicon-minus-sign i-minus"></i>
													</div>
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													<input class="success-file" type="file">
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-3 col-sm-9">
													<a class="btn btn-to-hot success-file btn-xs" onclick="addMoreHonor()">
														+添加更多企业荣誉
													</a>
												</div>
											</div>
											<div class="row tip">
												<div class="col-sm-offset-3 col-sm-9">认证小贴士:</div>
												<div class="col-sm-offset-3 col-sm-9">（1）诚信回馈：获得免费评论2条/天，免费约谈1次/天；</div>
												<div class="col-sm-offset-3 col-sm-9">（2）
													上传企业授权书，并且通过认证后，将点亮您“个人主页”顶端的图标，表示：已通过企业身份认证。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													声明：投融界严格保守用户身份信息；如未征求您本人同意，绝不向第三方透露。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													提示：认证信息是会员自愿提供，目前中国无完整渠道确保100%真实，请理性对待。
												</div>
												<div class="col-sm-offset-3 col-sm-9">
													备注：所上传的照片格式为gif,jpg,jpeg,png，文件大小在1.5M以内
												</div>
											</div>
											<div class="row">
												<div class="col-sm-offset-3 col-sm-3">
													<button class="btn btn-cold-to-lighter" role="button" type="submit">提交认证</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						@}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="identife-complete" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal" data-target="identife-complete">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h5 class="modal-title">
					系统提示
				</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-3">
						<p>
							<i class="glyphicon glyphicon-ok-sign i-right pull-right"></i>
						</p>
					</div>
					<div class="col-sm-9">
						<p>
							恭喜您，认证申请已经提交成功！</br>
							我们会在第三个工作日内完成审核，审核结果会在第一时间通知您。
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-2">
						<a class="btn btn-hot-to-lighter btn-block" href="${basePath}/auth/">继续认证</a>
					</div>
					<div class="col-sm-4">
						<a class="btn btn-hot-to-lighter btn-block" href="${basePath}/home/">返回我的投融界</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@include("/common/_jsasset.html") {}
<script src="${basePath}/static/js/vendor/jquery.ui.widget.js"></script>
<script src="${basePath}/static/js/jquery.fileupload.js"></script>
<script src="${basePath}/static/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>

<script type="text/javascript">
	$('input[type=file]').fileupload({
		url: '${basePath}/uploadify/upload',
		paramName:'imgFile',
		dataType: 'json',
		dir:'file',
		done: function (e, data) {
			if (data.jqXHR.responseJSON.error==0) {
				$('input[name="'+$(this).attr('name')+'"]').attr("value",data.jqXHR.responseJSON.url);
				var str='<div>'+
						'							已上传凭证:<a class="title" href="'+data.jqXHR.responseJSON.url+'" target="_blank">'+data.jqXHR.responseJSON.fileName +'</a>' +
						'                           <input type="hidden" name="'+$(this).attr('name')+'" value="'+data.jqXHR.responseJSON.url+'">'+
						'						</div>';
				if($(this).next().val()==null){
					$(this).after(str);
				}else{
					$(this).next().html($(str));
				}
			};
		}
	});
	$('form').submit(function (e) {
		$.each($(this).find('input[type=text]'), function (n, value) {
			if ($(value).val() === '') {

			}
		})
		$.ajax({
			type:'POST',
			url:'${basePath}/auth/save ',
			data:$(this).serialize(),
			dataType:'json',
			mimeType:'multipart/form-data',
			contentType:"application/x-www-form-urlencoded",
			cache:false,
			processData:false,
			success:function (data) {
				if (data.code==0) {
					$('#identife-complete').modal('show')
				}
			}
		})
		e.preventDefault();
	})
	function addMoreSuccess() {
		var str='<div class="form-group">'+
				'													<div class="col-sm-offset-3 col-sm-6 ">'+
				'														<div class="input-group text-nowrap">'+
				'															<div class="input-group-addon">'+($('#more-success').children().length+2)+'</div>'+
				'															<input class="form-control" type="text" name="authcase.case_auth_name ">'+
				'															<i class="glyphicon glyphicon-minus-sign i-minus " ></i>'+
				'														</div>'+
				'													</div>'+
				'													<div class="col-sm-offset-3 col-sm-9">'+
				'														<input class="success-file" type="file" name="authcase.case_auth_photo">'+
				'													</div>'+
				'												</div>';
		$('#more-success').append($(str));
		$('#more-success .i-minus').unbind('click').click(function () {
			$(this).closest('.form-group').remove()
		})
	}
	function addMoreHonor() {
		var str='<div class="form-group">'+
				'													<div class="col-sm-offset-3 col-sm-6 ">'+
				'														<div class="input-group text-nowrap">'+
				'															<div class="input-group-addon">'+($('#more-honor').children().length+2)+'</div>'+
				'															<input class="form-control" type="text" name="authhonor.honor_auth_name">'+
				'															<i class="glyphicon glyphicon-minus-sign i-minus " ></i>'+
				'														</div>'+
				'													</div>'+
				'													<div class="col-sm-offset-3 col-sm-9">'+
				'														<input class="success-file" type="file" name="authhonor.honor_auth_photo">'+
				'													</div>'+
				'												</div>';
		$('#more-honor').append($(str));
		$('#more-honor .i-minus').unbind('click').click(function () {
			$(this).closest('.form-group').remove()
		})
	}
</script>
</body>
</html>