<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">

	<!-- Bootstrap css -->
	<link rel="stylesheet" href="${basePath}/static/css/bootstrap.min.css">

	<!-- Bootstrap theme -->
	<!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->

	<!-- fontawesome css -->
	<link rel="stylesheet" href="${basePath}/static/css/font-awesome.min.css">

	<!-- customized css -->
	<link rel="stylesheet" href="${basePath}/static/css/yr.css">
	<link rel="stylesheet" href="${basePath}/static/css/yr-back.css">

	<style type="text/css">
		.bgWhite {
			background-color: white;
		}

		.pd10 {
			padding: 10px;
		}

		.imgHeight {
			height: 100px;
		}

		.username {
			padding: 8px 0;
			height: 33px;
			border-bottom: 1px dashed #ddd;
			color: #666;
		}

		.progress {
			margin-bottom: 0;
			background-color: #96d4e1
		}

		.Width {
			width: 190px;
		}

		.userInfo {
			background: #f1f1f1;
			margin: 0;
			border: 1px solid #ddd;
		}

		.fn-mt-20 {
			margin-top: 20px !important;
		}

		.fn-mt-10 {
			margin-top: 10px !important;
		}

		.fn-font-14 {
			font-size: 14px;
		}

		.ui-text-red {
			color: #e93100;
		}

		.thCenter th {
			text-align: center;
		}

		.pdTop {
			padding-top: 20px !important;
		}

		.picBox {
			margin-left: 60px;
		}

		.solid {
			border-bottom: 1px solid #bdbdbd;
			top: 10px;
		}

		.table tr:first-child {
			background-color: #f8f8f8;
		}

		.panel-body > .panel-border {
			border: 1px solid #ddd;
		}

		.panel .panel .panel-heading {
			padding: 5px 0;
		}
	</style>
	}
</head>
<body>
<div class="container ">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<div class="panel panel-default">
				<div class="panel-body">
					<!--会员等级-->
					<div class="userInfo">
					</div>
					<!--会员介绍-->
					<div class="panel panel-default panel-border">
						<div class="panel-heading">
							<div class="row">
								<div class="col-sm-3 auto-width">
									<div class="cold-underline" id="tabs-title">会员介绍</div>
								</div>
								<div class="col-auto pull-right">
									<ul class="nav nav-tabs nav-inline " role="tablist">
										<li role="presentation" class="pull-right"><a href="#messages"
										                                              aria-controls="messages"
										                                              role="tab"
										                                              data-toggle="tab"
										                                              class="">成长值记录</a></li>
										<li role="presentation" class="pull-right"><a href="#profile"
										                                              aria-controls="profile" role="tab"
										                                              data-toggle="tab"
										                                              class="">成长值</a></li>
										<li role="presentation" class="active pull-right"><a href="#home"
										                                                     aria-controls="home"
										                                                     role="tab"
										                                                     data-toggle="tab" class="">会员介绍</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<!--会员介绍-->
								<div role="tabpanel" class="tab-pane active" id="home">
									<div class="panel">
										<div class="panel-heading">会员说明</div>
										<div class="panel-body">
											<p>1、投融界的会员级别共分为6个等级，分别为：注册会员、青铜勋章、白银勋章、黄金勋章、白金勋章、钻石勋章。<br>
												2、会员级别的升降均由系统自动处理，无需申请。<br>
												3、会员的等级由成长值决定，成长值越高会员等级超高，享受到的会员权益越大。</p>
											<div class="row picBox">
												<div class="col-sm-1 text-center ">
													<img src="" class="img-responsive center-block">
													<div class="text-nowrap">注册会员</div>
												</div>
												<div class=" col-sm-1 solid"></div>
												<div class="col-sm-1 text-center ">
													<img src="" class="img-responsive center-block">
													<div class="text-nowrap">注册会员</div>
												</div>
												<div class=" col-sm-1 solid"></div>
												<div class="col-sm-1 text-center ">
													<img src="" class="img-responsive center-block">
													<div class="text-nowrap">注册会员</div>
												</div>
												<div class=" col-sm-1 solid"></div>
												<div class="col-sm-1 text-center ">
													<img src="" class="img-responsive center-block">
													<div class="text-nowrap">注册会员</div>
												</div>
												<div class=" col-sm-1 solid"></div>
												<div class="col-sm-1 text-center ">
													<img src="" class="img-responsive center-block">
													<div class="text-nowrap">注册会员</div>
												</div>
												<div class=" col-sm-1 solid"></div>
												<div class="col-sm-1 text-center ">
													<img src="" class="img-responsive center-block">
													<div class="text-nowrap">注册会员</div>
												</div>

											</div>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">会员级别规则</div>
										<div class="panel-body">
											<table class="table table-bordered table-hover text-center thCenter">
												<tr>
													<th>会员级别</th>
													<th>成长值范围</th>
													<th>成长值有效</th>
												</tr>
												<tr>
													<td>注册会员</td>
													<td>0～1499</td>
													<td>永久有效</td>
												</tr>
												<tr>
													<td>青铜勋章</td>
													<td>1500～3799</td>
													<td>每年3月1日扣除1000成长值，根据剩余成长值重新计算级别</td>
												</tr>
												<tr>
													<td>白银勋章</td>
													<td>3800～11999</td>
													<td>每年3月1日扣除2000成长值，根据剩余成长值重新计算级别</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
								<!--成长值-->
								<div role="tabpanel" class="tab-pane" id="profile">
									<div class="panel">
										<div class="panel-heading">什么是成长值</div>
										<div class="panel-body">
											<p>成长值是投融界会员通过登录、邀请注册所获得的，成长值越高会员等级越高，享受到的会员特权越大。
												<a href="" class="ui-text-red">查看我的成长值明细</a><br>
												付费会员可通过“累计消费金额”加速，“累计消费金额”越高，加速系数越大。</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">如何赚取成长值</div>
										<div class="panel-body">
											<table class="table table-bordered text-center thCenter">
												<tr>
													<th>成长值赚取途径</th>
													<th>赚取成长值</th>
													<th>付费会员成长值加速</th>
													<th>发放时间</th>
												</tr>
												<tr>
													<td>登录</td>
													<td>50/天</td>
													<td rowspan="2" class="pdTop">付费会员成长值=赚取成长值×（1+累计消费金额/100000）</td>
													<td>登录成功后发放</td>
												</tr>
												<tr>
													<td>邀请注册</td>
													<td>200/个</td>
													<td>邀请注册成功后发放</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
								<!--成长值记录-->
								<div role="tabpanel" class="tab-pane" id="messages">
									<div class="panel">
										<div class="panel-heading" id="levelNow"></div>
										<div class="panel-body">
											<table class="table table-bordered table-hover text-center thCenter"
											       id="levelHistory">
											</table>
											<nav class="pull-right">
												<ul class="pagination">
													<li>
														<a href="#" aria-label="Previous">
															<span aria-hidden="true">上一页</span>
														</a>
													</li>
													<li><a href="#">1</a></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li>
														<a href="#" aria-label="Next">
															<span aria-hidden="true">下一页</span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- jQuery -->
<script src="${basePath}/static/js/jquery-1.11.3.js"></script>

<!-- Bootstrap JavaScript -->
<script src="${basePath}/static/js/bootstrap.js"></script>

<!-- custom js
<script src="js/请输入.js"></script>-->

<script type="text/javascript">
	$('.nav-inline a').click(function () {
		$('#tabs-title').val($(this).val());
	})
	function ajaxLevelInfo(url) {
		$.ajax({
			type: 'GET',
			url: url,
			dataType: 'json',
			success: function (data) {
				var str = (['	<div class="row">',
					'							<div class="col-sm-2">',
					'								<div class="fn-mt-10"><img src="'+data.data[0].ext.avatar+'" class="img-responsive imgHeight center-block"></div>',
					'								<div class="text-center"><a href="" class="to-hot">修改头像</a></div>',
					'							</div>',
					'							<div class="col-sm-10">',
					'								<div class="username">欢迎您， <span>' + data.data[0].ext.name + '</span>最近登录时间: '+data.data[0].ext.recent_date+'</div>',
					'								<div class="fn-mt-20 fn-font-14">',
					'									<div>会员等级:<span class="ui-text-red">' + data.data[0].ext.level + '</span></div>',
					'									<div class="progress fn-mt-10 Width">',
					'										<div class="progress-bar" role="progressbar" aria-valuenow="' + data.data[0].ext.integral + '"',
					'										     aria-valuemin="0"',
					'										     aria-valuemax="' + data.data[0].score + '" style="width: ' + (data.data[0].ext.integral / data.data[0].score).toFixed(2).substring(2, 4) + '%;">',
					'											' + data.data[0].ext.integral + '/' + data.data[0].score + '',
					'										</div>',
					'									</div>',
					'									<div class="fn-mt-10">差' + ((data.data[0].score) - (data.data[0].ext.integral)) + '成长值升级为'+data.data[0].rank+'</div>',
					'								</div>',
					'							</div>',
					'						</div>'].join(""));
				$('.userInfo').html($(str));
				var levelNow = (['<div>您目前的成长值为 <span class="ui-text-red">'+data.data[0].ext.integral+'</span>，您的会员级别为'+data.data[0].ext.level+'。</div>'].join(""));
				$('#levelNow').html($(levelNow));
			}
		})
	}
	function ajaxLevelHistory(url) {
		$.ajax({
			type: 'GET',
			url: url,
			dataType: 'json',
			success: function (data) {
				var str = (['<tr>',
					'													<th>发放/扣减时间</th>',
					'													<th>成长值</th>',
					'													<th>成长值来源</th>',
					'													<th>来源详情</th>',
					'												</tr>'].join(""));
				$.each(data.data.rows, function (n, value) {
					var history = (['<tr>',
						'													<td>' + value.triggering_time + '</td>',
						'													<td>+' + value.ext.value + '</td>',
						'													<td>系统赠送</td>',
						'													<td>' + value.ext.key + '成功后发放</td>',
						'												</tr>'].join(""));
					str += history;
				})
				$('#levelHistory').html($(str));
				var pagenation = '';
				var total = data.data.total;
				var page = data.data.page;
				(page != 1) ? pagenation += ('<li><a>首页</a></li>') : null;
				(total > 1 && page > 1) ? pagenation += ('<li><a>上一页</a></li>') : null;
				if (total <= 5 || page < 5) {

					for (var i = 1; i <= Math.min(total, 5); i++) {
						if (i == page) {
							pagenation += ('<li class="active"><a>' + i + '</a></li>');
						}
						else {
							pagenation += ('<li><a>' + i + '</a></li>');
						}
					}
					(total > 5) ? pagenation += ('<li><span>···</span></li><li><a>' + total + '</a></li>') : null;
				}
				else {
					((page - 2) > 0) ? pagenation += ('<li><a>' + (page - 2) + '</a></li>') : null;
					((page - 1) > 0) ? pagenation += ('<li><a>' + (page - 1) + '</a></li>') : null;
					pagenation += ('<li class="active"><a>' + page + '</a></li>');
					((page + 1) <= total) ? pagenation += ('<li><a>' + (page + 1) + '</a></li>') : null;
					((page + 2) <= total) ? pagenation += ('<li><a>' + (page + 2) + '</a></li>') : null;
					(total > (page + 2)) ? pagenation += ('<li><span>···</span></li></li><li><a>' + total + '</a></li>') : null;
				}
				(total > 1 && page < total) ? pagenation += ('<li><a>后一页</a></li>') : null;
				(page != total && total > 0) ? pagenation += ('<li><a>最后一页</a></li>') : null;
				$('.pagination').html($(pagenation));
				$('.pagination li a').click(function () {
					var pageCount = this.text;
					if (pageCount != page) {
						var pageUrl = '${basePath}/scoreHistory/list?';
						switch (this.text) {
							case '上一页':
								pageCount = (page - 1);
								break;
							case '后一页':
								pageCount = (page + 1);
								break;
							case '首页':
								pageCount = 1;
								break;
							case '最后一页':
								pageCount = total;
								break;
							default:
								console.log("页数不存在");
								break;
						}
						pageUrl += 'page=' + pageCount;
						ajaxLevelHistory(pageUrl);
					}
				})
			}
		})
	}
	$(document).ready(function () {
		ajaxLevelInfo('${basePath}/rankDefine/list/me');
		ajaxLevelHistory('${basePath}/scoreHistory/list')
	})
</script>
</body>
</html>