<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">

	@include("/common/_cssasset.html") {}

	<style type="text/css">


		.mg10 {
			margin: 10px 0;
		}

		.pd10 {
			margin: 10px;
			padding: 0;
		}

		.commonProblem {
			padding: 15px 0;
			margin: 0;
		}

		.noBorder {
			padding: 15px 0;
			margin: 0;
		}

		.table tr:first-child {
			background-color: #f8f8f8;
		}

		.ui-tab-head-box {
			background: #eef2ff;
			padding-top: 10px;
			padding-left: 10px;
			border: 1px solid #ddd;
			border-bottom: 0;
		}

		.thCenter th {
			text-align: center;
		}

		.jz tr th {
			vertical-align: middle !important;
			word-wrap: break-word;
			word-break: break-all;
			width: 14% !important;
		}
		.jz tr td {
			vertical-align: middle !important;
			word-wrap: break-word;
			word-break: break-all;
			width: 14% !important;
		}
		.border{
			border: 1px solid #ddd !important;
		}
		.dotted{
			border-bottom: 1px dotted #ddd;
			margin: 0 10px;
		}
		.cold-underline {
			margin-bottom: -6px;
			margin-left: 0;
			padding: 4px 20px 6px 20px;
			border-bottom: 2px solid var(--cold-light);
			text-align: center;
		}
		.col-auto{
			padding-left: 0 !important;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="bg-tabs">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#uncompleted" aria-controls="uncompleted"
							                                          role="tab"
							                                          data-toggle="tab">未完成订单</a>
							</li>
							<li role="presentation"><a href="#completed" aria-controls="completed" role="tab"
							                           data-toggle="tab">已完成订单</a>
							</li>
						</ul>
					</div>
					<!--订单信息-->
					<div class="tab-content">
						<!--未完成订单-->
						<div role="tabpanel" class="tab-pane active" id="uncompleted">
						</div>
						<!--已完成订单-->
						<div role="tabpanel" class="tab-pane" id="completed">
						</div>
					</div>
					<!--订单常见问题-->
					<div class="panel border">
						<div class="panel-heading">
							<div class="row">
								<div class="col-auto">
									<div class="cold-underline">
										订单常见问题
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="row commonProblem">
								<div class="col-sm-1 col-xs-1"><img src="" class="img-responsive center-block"></div>
								<div class="col-sm-11 col-xs-11">
									<div>订单管理常见问题</div>
									<div><a class="title" href="">我忘记拿银行给我的汇款单了，怎么办？</a></div>
									<div>答：请记住汇款时间、银行以及相应的分行等详细汇款信息，并及时与客服取得联系，进行反映。</div>
								</div>
							</div>
							<div class="dotted"></div>
							<div class="row noBorder">
								<div class="col-sm-1 col-xs-1"><img src="" class="img-responsive center-block"></div>
								<div class="col-sm-11 col-xs-11">
									<div>付款方式常见问题</div>
									<div><a class="title" href="">未完成的订单怎么在线支付？</a></div>
									<div>答：点击未完成订单右侧“继续支付”按钮，<br>
										<img src="" class="img-responsive center-block"><br>
										跳转进入“网银在线支付”页面，选择所要付款的银行<br>
										<img src="" class="responsive center-block"><br>
										点击“下一步”，进入银行页面，进行付款操作，<br>
										<img src="" class="responsive center-block"><br>
										完成付款，点击“支付成功”。<br>
										<img src="" class="responsive center-block"><br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

@include("/common/_jsasset.html") {}

<script type="text/javascript">
	function ajaxLoadOrder() {
		$.ajax({
			type: 'GET',
			url: '${basePath}/orderDetails/list',
			dataType: 'json',
			success: function (data) {
				var uncompleted = '<table class="table table-hover table-bordered text-center thCenter jz">' +
						'								<tr>' +
						'									<th>订单编号</th>' +
						'									<th>服务名称</th>' +
						'									<th>产品周期</th>' +
						'									<th>订单金额</th>' +
						'									<th>购买数量</th>' +
						'									<th>下单时间</th>' +
						'									<th>操作</th>' +
						'								</tr>';
				var completed = '<table class="table table-hover table-bordered text-center thCenter jz">' +
						'								<tr>' +
						'									<th class="col-sm-3">订单编号</th>' +
						'									<th class="col-sm-2">服务名称</th>' +
						'									<th class="col-sm-1">订单金额</th>' +
						'									<th class="col-sm-1">购买数量</th>' +
						'									<th class="col-sm-1">产品周期</th>' +
						'									<th class="col-sm-2">结束时间</th>' +
						'									<th class="col-sm-2">操作</th>' +
						'								</tr>';
				$.each(data.data.rows, function (n, value) {
					if (value.state === '未完成') {
						uncompleted += '<tr>' +
								'									<td><a href="" class="title">'+value.number+'</a></td>' +
								'									<td>'+value.ext.value+'</td>' +
								'									<td>'+value.ext.valid+'</td>' +
								'									<td>'+value.ext.money+'</td>' +
								'									<td>'+value.purchase+'</td>' +
								'									<td><span class="text-nowrap">'+value.time_create.substring(0,10)+'</span> <br>'+value.time_create.substring(11,19)+'</td>' +
								'									<td>' +
								'                                       <a href="">查看 </a><br>' +
								'                                       <a href="" class="text-nowrap">上传汇款凭证</a><br>' +
								'                                       <a href="javascript:void(0)" onclick="cancelOrder('+value.pk_order+')"> 取消订单</a>' +
								'									</td>' +
								'								</tr>';
					}
					if (value.state === '已完成') {
						completed += '<tr>' +
								'									<td><a href="" class="title">'+value.number+'</a></td>' +
								'									<td>'+value.ext.value+'</td>' +
								'									<td>'+value.ext.money+'</td>' +
								'									<td>'+value.purchase+'</td>' +
								'									<td>'+value.ext.valid+'</td>' +
								'									<td><span class="text-nowrap">'+value.time_end.substring(0,10)+'</span> <br>'+value.time_end.substring(11,19)+'</td>' +
								'									<td><a href="">查看 </a><br>' +
								'									</td>' +
								'								</tr>';
					}
				})
				completed += '</table>';
				uncompleted += '</table>';
				$('#completed').html($(completed))
				$('#uncompleted').html($(uncompleted))
			}
		})
	}
	function cancelOrder(pk){
		event.returnValue = confirm("您确认要取消订单吗?")
		if(event.returnValue){
			$.ajax({
				type:'GET',
				url:'${basePath}/orderDetails/remove/'+pk+'',
				dataType:'json',
				success:function (data) {
					if (data.code==0){
						ajaxLoadOrder()
					}
					else{
						alert(data.message);
					}
				}
			})
		}
	}
	$(document).ready(function () {
		ajaxLoadOrder();
	})
</script>
</body>
</html>